/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 21, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 25, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight") format("svg");
}
@font-face {
  font-family: 'KOMIKAX';
  src: url("../fonts/KOMIKAX/KOMIKAX.eot");
  src: url("../fonts/KOMIKAX/KOMIKAX.eot") format("embedded-opentype"), url("../fonts/KOMIKAX/KOMIKAX.woff2") format("woff2"), url("../fonts/KOMIKAX/KOMIKAX.woff") format("woff"), url("../fonts/KOMIKAX/KOMIKAX.ttf") format("truetype"), url("../fonts/KOMIKAX/KOMIKAX.svg#KOMIKAX") format("svg");
}
@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#RobotoBold") format("svg");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight") format("svg");
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium/RobotoMedium.svg#RobotoMedium") format("svg");
}
@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/RobotoThin/RobotoThin.eot");
  src: url("../fonts/RobotoThin/RobotoThin.eot") format("embedded-opentype"), url("../fonts/RobotoThin/RobotoThin.woff2") format("woff2"), url("../fonts/RobotoThin/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin/RobotoThin.ttf") format("truetype"), url("../fonts/RobotoThin/RobotoThin.svg#RobotoThin") format("svg");
}
/* line 4, ../sass/main.scss */
html {
  height: 100%;
}

/* line 8, ../sass/main.scss */
body {
  font-family: "RobotoLight", arial, sans-serif;
  height: 100%;
}

/* line 13, ../sass/main.scss */
body.modal-open .wraper {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

/* line 22, ../sass/main.scss */
.container {
  padding: 0 30px;
}

/* line 25, ../sass/main.scss */
.row {
  margin: 0;
}

/* line 28, ../sass/main.scss */
.wraper {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  background: url("../img/bg.jpg") top center;
  background-size: 100%;
}

/* line 35, ../sass/main.scss */
input, button {
  outline: none;
}

/* line 38, ../sass/main.scss */
.clear-fix {
  clear: both;
}

/* line 41, ../sass/main.scss */
header {
  height: 78px;
  position: relative;
  padding-top: 40px;
}
/* line 45, ../sass/main.scss */
header .header-wrap {
  margin-top: 38px;
}
/* line 48, ../sass/main.scss */
header .logo {
  position: absolute;
  z-index: 10;
  top: -5px;
  left: 0;
}
/* line 53, ../sass/main.scss */
header .logo a {
  font-size: 32px;
  position: relative;
  font-family: "RobotoBold", arial, sans-serif;
  text-decoration: none;
  color: #fff;
}
/* line 59, ../sass/main.scss */
header .logo a img {
  position: absolute;
  top: -12px;
  left: 61px;
}
/* line 64, ../sass/main.scss */
header .logo a span {
  font-family: "RobotoLight", arial, sans-serif;
  font-size: 22px;
  position: absolute;
  bottom: 6px;
  right: -186px;
  text-transform: uppercase;
}
/* line 74, ../sass/main.scss */
header .title {
  text-align: center;
  font-family: "KOMIKAX", arial, sans-serif;
  font-size: 18px;
  color: #fff;
}
/* line 80, ../sass/main.scss */
header .sing-up {
  float: right;
  margin-right: 27px;
}
/* line 83, ../sass/main.scss */
header .sing-up button {
  background: #F7931E;
  border: none;
  width: 83px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  height: 20px;
  font-size: 14px;
  position: relative;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}
/* line 106, ../sass/main.scss */
header .sing-up button:active {
  top: 1px;
}
/* line 113, ../sass/main.scss */
header .profile-head {
  display: none;
  float: right;
  margin-right: 27px;
}
/* line 117, ../sass/main.scss */
header .profile-head a {
  font-size: 14px;
  color: #fff;
}
/* line 120, ../sass/main.scss */
header .profile-head a img {
  vertical-align: bottom;
  margin-right: 10px;
}
/* line 126, ../sass/main.scss */
header .menu {
  float: right;
  margin-right: -8px;
}
/* line 129, ../sass/main.scss */
header .menu button {
  background: transparent;
  border: none;
}
/* line 134, ../sass/main.scss */
header nav {
  background: #330066;
  position: absolute;
  width: 100%;
  top: -80px;
  left: 0;
  height: 78px;
  -webkit-transition: all ease-in-out 0.7s;
  -moz-transition: all ease-in-out .7s;
  -ms-transition: all ease-in-out .7s;
  -o-transition: all ease-in-out .7s;
  transition: all ease-in-out .7s;
}
/* line 146, ../sass/main.scss */
header nav .wrap {
  position: relative;
}
/* line 149, ../sass/main.scss */
header nav ul {
  list-style-type: none;
  text-align: center;
}
/* line 152, ../sass/main.scss */
header nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 45px;
  margin-top: 49px;
}
/* line 157, ../sass/main.scss */
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "RobotoLight", arial, sans-serif;
}
/* line 162, ../sass/main.scss */
header nav ul li a:hover {
  color: #fff;
}
/* line 165, ../sass/main.scss */
header nav ul li a img {
  position: absolute;
  top: -27px;
  left: -41px;
}
/* line 173, ../sass/main.scss */
header nav .close-menu {
  position: absolute;
  right: 3px;
  top: 0;
  margin-top: 41px;
}
/* line 178, ../sass/main.scss */
header nav .close-menu button {
  background: none;
  border: none;
  color: #F7931E;
  font-size: 42px;
  line-height: 19px;
}
/* line 186, ../sass/main.scss */
header nav .profile {
  margin-top: 49px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 65px;
}
/* line 192, ../sass/main.scss */
header nav .profile a {
  color: #fff;
  font-size: 14px;
  font-family: "RobotoLight", arial, sans-serif;
}
/* line 196, ../sass/main.scss */
header nav .profile a img {
  position: absolute;
  top: -27px;
  left: -57px;
}
/* line 205, ../sass/main.scss */
header nav.open {
  top: 0;
}

/* line 210, ../sass/main.scss */
.main-content .content-wrap {
  background: #fff;
  margin-top: 10px;
  padding: 38px 0;
  -webkit-box-shadow: 0 4px 0 0 #b3b3b3;
  -moz-box-shadow: 0 4px 0 0 #b3b3b3;
  box-shadow: 0 4px 0 0 #b3b3b3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 221, ../sass/main.scss */
.main-content .content-wrap article {
  padding-left: 30px;
}
/* line 224, ../sass/main.scss */
.main-content .content-wrap .question {
  margin-bottom: 28px;
}
/* line 226, ../sass/main.scss */
.main-content .content-wrap .question input[type=text] {
  width: 100%;
  height: 47px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding-left: 15px;
  font-size: 18px;
  font-family: "RobotoLight", arial, sans-serif;
}
/* line 238, ../sass/main.scss */
.main-content .content-wrap p.question {
  color: #333333;
  font-size: 22px;
  font-family: "RobotoMedium", arial, sans-serif;
  margin-left: 25px;
  margin-top: 10px;
}
/* line 246, ../sass/main.scss */
.main-content .content-wrap .option ul {
  list-style-type: nonec;
}
/* line 249, ../sass/main.scss */
.main-content .content-wrap .option li {
  margin-bottom: 32px;
  padding-left: 70px;
  position: relative;
}
/* line 253, ../sass/main.scss */
.main-content .content-wrap .option li input[type=text] {
  height: 38px;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-family: "RobotoLight", arial, sans-serif;
  padding-left: 22px;
}
/* line 264, ../sass/main.scss */
.main-content .content-wrap .option li input[type=text]:focus + label {
  border: 1px solid #F7931E;
}
/* line 269, ../sass/main.scss */
.main-content .content-wrap .option li label {
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  width: 38px;
  height: 38px;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font-family: "RobotoLight", arial, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 38px;
}
/* line 287, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox {
  padding-left: 50px;
}
/* line 290, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .poolchoise svg {
  top: 53%;
}
/* line 294, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox svg {
  width: 20px;
  height: 20px;
  left: 20px;
  top: 47%;
}
/* line 300, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox input {
  width: 20px;
  height: 20px;
  top: 70%;
  left: 25px;
}
/* line 306, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox label {
  margin-bottom: 28px;
  font-family: "RobotoLight", arial, sans-serif;
  font-size: 15px;
  color: #333;
}
/* line 311, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox label:before {
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #FFAB03;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 25px;
  left: -30px;
}
/* line 323, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .poolchoise {
  padding-left: 50px;
  padding-top: 5px;
  position: relative;
}
/* line 327, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .poolchoise label {
  padding-left: 5px;
}
/* line 332, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .recaptcha {
  position: relative;
  padding-left: 50px;
  margin-bottom: 2px;
  font-family: "RobotoLight", arial, sans-serif;
  font-size: 15px;
}
/* line 338, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .recaptcha label {
  padding-left: 5px;
}
/* line 340, ../sass/main.scss */
.main-content .content-wrap .option .custom-checkbox .recaptcha label a {
  color: #FFAB03;
}
/* line 347, ../sass/main.scss */
.main-content .content-wrap .option .button {
  padding-left: 70px;
  margin-bottom: 58px;
}
/* line 350, ../sass/main.scss */
.main-content .content-wrap .option .button button {
  width: 175px;
  border: none;
  background: #FFAB03;
  border-bottom: 2px solid #995E00;
  border-radius: 5px;
  color: #fff;
  height: 32px;
  font-size: 15px;
  position: relative;
  top: 1px;
}
/* line 361, ../sass/main.scss */
.main-content .content-wrap .option .button button:hover {
  top: 0;
  border-bottom: 3px solid #995E00;
}
/* line 365, ../sass/main.scss */
.main-content .content-wrap .option .button button:active {
  top: 2px;
  border-bottom: 1px solid #995E00;
}
/* line 372, ../sass/main.scss */
.main-content .content-wrap .answer {
  padding: 0;
  padding-left: 75px;
  margin-top: 42px;
}
/* line 376, ../sass/main.scss */
.main-content .content-wrap .answer li {
  margin-bottom: 32px;
}
/* line 379, ../sass/main.scss */
.main-content .content-wrap .answer label {
  display: block;
  height: 38px;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-family: "RobotoMedium", arial, sans-serif;
  padding-left: 22px;
  line-height: 35px;
}
/* line 392, ../sass/main.scss */
.main-content .content-wrap .answer .button {
  margin-bottom: 20px;
}
/* line 394, ../sass/main.scss */
.main-content .content-wrap .answer .button button {
  width: 175px;
  border: none;
  background: #FFAB03;
  border-bottom: 2px solid #995E00;
  border-radius: 5px;
  color: #fff;
  height: 32px;
  font-size: 15px;
}
/* line 405, ../sass/main.scss */
.main-content .content-wrap .answer .back {
  position: absolute;
  top: -25px;
  left: 10px;
}
/* line 413, ../sass/main.scss */
.main-content .content-wrap .check ul li {
  padding-left: 70px;
  position: relative;
  color: #666;
}
/* line 417, ../sass/main.scss */
.main-content .content-wrap .check ul li .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font-family: "RobotoMedium", arial, sans-serif;
  font-size: 16px;
  line-height: 34px;
  color: #fff;
}
/* line 434, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+1) .number {
  background: #662D91;
}
/* line 437, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+1) .amount-percent {
  background: #662D91;
}
/* line 442, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+2) .number {
  background: #FFAB03;
}
/* line 445, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+2) .amount-percent {
  background: #FFAB03;
  width: 20%;
}
/* line 451, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+3) .number {
  background: #F15A24;
}
/* line 454, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+3) .amount-percent {
  background: #F15A24;
  width: 20%;
}
/* line 460, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+4) .number {
  background: #00A99D;
}
/* line 463, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+4) .amount-percent {
  background: #00A99D;
  width: 20%;
}
/* line 469, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+5) .number {
  background: #8CC63F;
}
/* line 472, ../sass/main.scss */
.main-content .content-wrap .check ul li:nth-child(5n+5) .amount-percent {
  background: #8CC63F;
  width: 20%;
}
/* line 479, ../sass/main.scss */
.main-content .content-wrap .check .amount-votes {
  margin-top: 10px;
  font-size: 14px;
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 484, ../sass/main.scss */
.main-content .content-wrap .check .votes-bar {
  background-color: #F2F2F2;
  height: 5px;
  width: 100%;
  margin: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 493, ../sass/main.scss */
.main-content .content-wrap .check .votes-bar .amount-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  background: #662D91;
}
/* line 507, ../sass/main.scss */
.main-content .content-wrap .check .votes-bar .amount-percent span {
  position: absolute;
  right: -35px;
  top: -9px;
  min-width: 35px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.55);
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.55);
  padding: 0 3px;
  font-family: "RobotoMedium", arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
}
/* line 528, ../sass/main.scss */
.main-content .content-wrap .captcha {
  margin-bottom: 25px;
}
/* line 531, ../sass/main.scss */
.main-content .content-wrap .total-votes {
  font-size: 22px;
  font-family: "RobotoMedium", arial, sans-serif;
  margin-left: 70px;
}
/* line 536, ../sass/main.scss */
.main-content .content-wrap .csgocom {
  border-bottom: 1px solid #E6E6E6;
  width: 55%;
  max-width: 360px;
  margin-bottom: 34px;
  margin-left: 7px;
  position: relative;
}
/* line 543, ../sass/main.scss */
.main-content .content-wrap .csgocom input {
  font-size: 18px;
  font-family: "RobotoLight", arial, sans-serif;
  color: #666;
  border: none;
  width: 100%;
}
/* line 550, ../sass/main.scss */
.main-content .content-wrap .csgocom .copy_tooltip {
  display: none;
  position: absolute;
  right: -22%;
  top: 35px;
  padding: 10px;
  font-size: 11px;
  height: 30px;
  width: 100px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 30px;
  text-align: left;
  filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
  -webkit-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
  -moz-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
  -o-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
  -ms-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
}
/* line 570, ../sass/main.scss */
.main-content .content-wrap .csgocom .copy_tooltip:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 10px;
  width: 20px;
  height: 10px;
  -webkit-transform: rotate(30deg) skewX(45deg);
  -moz-transform: rotate(30deg) skewX(45deg);
  -ms-transform: rotate(30deg) skewX(45deg);
  -o-transform: rotate(30deg) skewX(45deg);
  background: #fff;
  z-index: 1;
}
/* line 586, ../sass/main.scss */
.main-content .content-wrap .button.submit {
  margin-bottom: -6px;
}
/* line 588, ../sass/main.scss */
.main-content .content-wrap .button.submit button {
  position: relative;
  top: 1px;
}
/* line 591, ../sass/main.scss */
.main-content .content-wrap .button.submit button:hover {
  top: 0;
  border-bottom: 3px solid #995E00;
}
/* line 595, ../sass/main.scss */
.main-content .content-wrap .button.submit button:active {
  top: 2px;
  border-bottom: 1px solid #995E00;
}
/* line 601, ../sass/main.scss */
.main-content .content-wrap .voter {
  width: 30%;
  position: absolute;
  right: -77px;
  bottom: 21px;
}
/* line 606, ../sass/main.scss */
.main-content .content-wrap .voter img {
  max-width: 75px;
  float: left;
  margin-right: 5px;
}
/* line 611, ../sass/main.scss */
.main-content .content-wrap .voter p {
  font-size: 13px;
  font-family: "RobotoMedium", arial, sans-serif;
  color: #4D4D4D;
  margin-top: 11px;
}
/* line 617, ../sass/main.scss */
.main-content .content-wrap .voter span {
  color: #662D91;
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 622, ../sass/main.scss */
.main-content .content-wrap .result {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-family: "RobotoMedium", arial, sans-serif;
  font-size: 15px;
  color: #666666;
}
/* line 630, ../sass/main.scss */
.main-content .content-wrap .profile-block {
  background: #662D91;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding: 0 15px;
  font-size: 14px;
  font-family: "RobotoLight", arial, sans-serif;
  margin: 0 15px 40px 55px;
}
/* line 641, ../sass/main.scss */
.main-content .content-wrap .profile-block .setting {
  position: absolute;
  top: 6px;
  right: 9px;
}
/* line 646, ../sass/main.scss */
.main-content .content-wrap .profile-block .photo {
  text-align: center;
  padding: 0 30px;
}
/* line 649, ../sass/main.scss */
.main-content .content-wrap .profile-block .photo img {
  margin-top: -12px;
  -webkit-box-shadow: 0px -3px 20px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px -3px 20px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px -3px 20px 0px rgba(50, 50, 50, 0.55);
  width: 100%;
}
/* line 657, ../sass/main.scss */
.main-content .content-wrap .profile-block .name {
  font-family: "RobotoMedium", arial, sans-serif;
  padding: 0 28px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 8px;
}
/* line 664, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}
/* line 668, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .lvl img {
  width: 25px;
}
/* line 672, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .premium {
  width: 78px;
  height: 20px;
  background: #93278F;
  text-align: center;
  line-height: 18px;
  float: right;
  font-family: "RobotoMedium", arial, sans-serif;
  -webkit-box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.55);
  box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.55);
}
/* line 684, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .lvl-progress-bar {
  background-color: #1B1464;
  height: 3px;
  width: 100%;
  margin: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 693, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .lvl-progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 41%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  background: #fff;
}
/* line 710, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .limit {
  margin-bottom: 6px;
}
/* line 712, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .limit p {
  line-height: 25px;
}
/* line 714, ../sass/main.scss */
.main-content .content-wrap .profile-block .profile-info .limit p span {
  font-family: "RobotoMedium", arial, sans-serif;
  display: inline-block;
  width: 50px;
  text-align: center;
}
/* line 723, ../sass/main.scss */
.main-content .content-wrap .profile-block .stats {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  padding-bottom: 6px;
}
/* line 727, ../sass/main.scss */
.main-content .content-wrap .profile-block .stats h5 {
  opacity: .5;
}
/* line 730, ../sass/main.scss */
.main-content .content-wrap .profile-block .stats p {
  line-height: 23px;
}
/* line 732, ../sass/main.scss */
.main-content .content-wrap .profile-block .stats p span {
  font-family: "RobotoMedium", arial, sans-serif;
  float: right;
  width: 207px;
  text-align: left;
}
/* line 741, ../sass/main.scss */
.main-content .content-wrap .profile-block .activity .select-bg {
  background: #fff;
  color: #662D91;
  font-family: "RobotoMedium", arial, sans-serif;
  padding: 0 4px;
}
/* line 747, ../sass/main.scss */
.main-content .content-wrap .profile-block .activity .ct, .main-content .content-wrap .profile-block .activity .terr {
  margin: 10px 0;
  line-height: 20px;
  width: 44%;
  max-width: 101px;
  height: 125px;
  float: left;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 10px;
  color: #662D91;
  text-align: center;
  padding: 0 5px;
}
/* line 762, ../sass/main.scss */
.main-content .content-wrap .profile-block .activity .ct span, .main-content .content-wrap .profile-block .activity .terr span {
  font-family: "RobotoBold", arial, sans-serif;
}
/* line 765, ../sass/main.scss */
.main-content .content-wrap .profile-block .activity .ct .redeemable, .main-content .content-wrap .profile-block .activity .terr .redeemable {
  border-top: 1px solid #662D91;
  line-height: 18px;
}
/* line 769, ../sass/main.scss */
.main-content .content-wrap .profile-block .activity .ct img, .main-content .content-wrap .profile-block .activity .terr img {
  width: 65px;
}
/* line 774, ../sass/main.scss */
.main-content .content-wrap .profile-block button {
  background: transparent;
  border: 1px solid #F7931E;
  font-family: "KOMIKAX", arial, sans-serif;
  font-size: 17px;
  width: 213px;
  height: 42px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 35px;
  padding-bottom: 6px;
}
/* line 789, ../sass/main.scss */
.main-content .right-list {
  margin-left: 30px;
  padding: 0 30px;
  font-family: "RobotoLight", arial, sans-serif;
  margin-top: -15px;
  position: relative;
}
/* line 795, ../sass/main.scss */
.main-content .right-list:before {
  content: '';
  display: block;
  height: 625px;
  background: #E6E6E6;
  width: 1px;
  position: absolute;
  left: -10px;
  top: 0;
}
/* line 805, ../sass/main.scss */
.main-content .right-list p {
  display: block;
  color: #fff;
  background: #4D4D4D;
  border-bottom: 3px solid #662D91;
  font-size: 21px;
  padding-left: 10px;
  line-height: 34px;
}
/* line 814, ../sass/main.scss */
.main-content .right-list ul {
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 817, ../sass/main.scss */
.main-content .right-list ul li {
  padding: 6px 0;
  line-height: 19px;
  position: relative;
  border-bottom: 1px dashed #E6E6E6;
  padding-left: 30px;
}
/* line 823, ../sass/main.scss */
.main-content .right-list ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 8px;
  height: 8px;
  background: #662D91;
}
/* line 833, ../sass/main.scss */
.main-content .right-list ul li a {
  color: #4D4D4D;
  font-size: 14px;
}
/* line 837, ../sass/main.scss */
.main-content .right-list ul li:last-child {
  border: none;
}
/* line 844, ../sass/main.scss */
.main-content aside .tab-content-wrap {
  padding-left: 37px;
}
/* line 847, ../sass/main.scss */
.main-content aside .nav-tabs {
  border: none;
  text-align: center;
  margin-bottom: 12px;
}
/* line 851, ../sass/main.scss */
.main-content aside .nav-tabs > li {
  float: none;
  display: inline-block;
  background: #330066;
  margin-right: -5px;
  font-family: "RobotoLight", arial, sans-serif;
  font-size: 15px;
}
/* line 858, ../sass/main.scss */
.main-content aside .nav-tabs > li a {
  border: none;
  color: #fff;
  padding: 5px 25px;
}
/* line 864, ../sass/main.scss */
.main-content aside .nav-tabs > li:hover a {
  border: none;
  background: none;
}
/* line 869, ../sass/main.scss */
.main-content aside .nav-tabs > li:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
/* line 874, ../sass/main.scss */
.main-content aside .nav-tabs > li:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
/* line 880, ../sass/main.scss */
.main-content aside .nav-tabs li.active {
  background: #93278F;
}
/* line 882, ../sass/main.scss */
.main-content aside .nav-tabs li.active a {
  border: none;
  background: none;
  color: #fff;
}
/* line 889, ../sass/main.scss */
.main-content aside .referral_link {
  text-align: center;
  font-size: 14px;
  color: #B3B3B3;
  font-family: "RobotoMedium", arial, sans-serif;
  margin-bottom: 15px;
}
/* line 895, ../sass/main.scss */
.main-content aside .referral_link p {
  line-height: 30px;
  border-bottom: 1px solid #F7931E;
  margin-bottom: 5px;
}
/* line 900, ../sass/main.scss */
.main-content aside .referral_link span {
  font-size: 12px;
}
/* line 905, ../sass/main.scss */
.main-content aside .referral-history .referral-information {
  width: 100%;
  background: #F2F2F2;
  text-align: center;
  position: relative;
  padding: 15px 0;
  margin-bottom: 10px;
}
/* line 912, ../sass/main.scss */
.main-content aside .referral-history .referral-information .new-member {
  height: 100%;
  width: 45px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: #FFAB03;
  font-family: "RobotoMedium", arial, sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}
/* line 924, ../sass/main.scss */
.main-content aside .referral-history .referral-information .new-member span {
  font-size: 37px;
  display: block;
  line-height: 42px;
}
/* line 931, ../sass/main.scss */
.main-content aside .referral-history .referral-information p span {
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 934, ../sass/main.scss */
.main-content aside .referral-history .referral-information p a {
  font-family: "RobotoMedium", arial, sans-serif;
  color: #0071BC;
}
/* line 939, ../sass/main.scss */
.main-content aside .referral-history .referral-information:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 1000px;
  background: #F2F2F2;
}
/* line 955, ../sass/main.scss */
.main-content aside .referral-history .operation {
  position: relative;
  background: #E6E6E6;
  width: 40%;
  max-width: 215px;
  font-size: 10px;
  margin-left: 5%;
  padding: 20px 0 20px 35px;
  min-height: 90px;
  clear: both;
  float: left;
}
/* line 967, ../sass/main.scss */
.main-content aside .referral-history .operation p span {
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 970, ../sass/main.scss */
.main-content aside .referral-history .operation p a {
  font-family: "RobotoMedium", arial, sans-serif;
  color: #0071BC;
}
/* line 974, ../sass/main.scss */
.main-content aside .referral-history .operation p img {
  width: 12px;
}
/* line 978, ../sass/main.scss */
.main-content aside .referral-history .operation .img-profile {
  position: absolute;
  left: -31px;
  top: calc(50% - 31px);
  width: 62px;
  height: 62px;
  border-radius: 31px;
  overflow: hidden;
}
/* line 986, ../sass/main.scss */
.main-content aside .referral-history .operation .img-profile img {
  width: auto;
  height: 100%;
}
/* line 991, ../sass/main.scss */
.main-content aside .referral-history .operation:after {
  position: absolute;
  content: '';
  z-index: 0;
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 13px);
  right: -15px;
  border-width: 12px 0 12px 16px;
  border-color: transparent transparent transparent #E6E6E6;
}
/* line 1005, ../sass/main.scss */
.main-content aside .referral-history .operation:nth-child(2n) {
  float: right;
  margin-right: 5%;
  padding: 20px 35px 20px 14px;
}
/* line 1009, ../sass/main.scss */
.main-content aside .referral-history .operation:nth-child(2n) .img-profile {
  right: -31px;
  left: initial;
}
/* line 1013, ../sass/main.scss */
.main-content aside .referral-history .operation:nth-child(2n):after {
  left: -15px;
  border-width: 12px 16px 12px 0;
  border-color: transparent #E6E6E6 transparent transparent;
  right: initial;
}
/* line 1020, ../sass/main.scss */
.main-content aside .referral-history .operation .message {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 1027, ../sass/main.scss */
.main-content aside .achievement-history {
  font-family: "RobotoMedium", arial, sans-serif;
  height: 514px;
  overflow: hidden;
  margin-bottom: 42px;
}
/* line 1032, ../sass/main.scss */
.main-content aside .achievement-history .scroll-item {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 8px);
}
/* line 1037, ../sass/main.scss */
.main-content aside .achievement-history .achievement {
  border: 1px solid #E6E6E6;
  position: relative;
  margin-bottom: 5px;
}
/* line 1041, ../sass/main.scss */
.main-content aside .achievement-history .achievement .rating {
  position: absolute;
  top: 5%;
  left: 0;
  height: 90%;
  text-align: center;
  width: 92px;
  border-right: 1px solid #E6E6E6;
  padding: 15px 0;
}
/* line 1051, ../sass/main.scss */
.main-content aside .achievement-history .achievement .information {
  width: 58%;
  margin: 6px 10px 6px 109px;
}
/* line 1054, ../sass/main.scss */
.main-content aside .achievement-history .achievement .information h4 {
  color: #808080;
  font-size: 22px;
}
/* line 1058, ../sass/main.scss */
.main-content aside .achievement-history .achievement .information span {
  color: #B3B3B3;
  font-size: 14px;
}
/* line 1062, ../sass/main.scss */
.main-content aside .achievement-history .achievement .information .score {
  margin-top: 10px;
  color: #666;
}
/* line 1067, ../sass/main.scss */
.main-content aside .achievement-history .achievement .reward {
  position: absolute;
  top: 5%;
  right: 0;
  height: 90%;
  text-align: center;
  width: 92px;
  border-left: 1px solid #e6e6e6;
  padding: 22px 0;
  color: #808080;
  font-size: 18px;
}
/* line 1078, ../sass/main.scss */
.main-content aside .achievement-history .achievement .reward span {
  color: #FFAB03;
}
/* line 1081, ../sass/main.scss */
.main-content aside .achievement-history .achievement .reward:hover {
  background: #662D91;
  height: 100%;
  color: #fff;
  top: 0;
  padding: 25px 0;
}
/* line 1087, ../sass/main.scss */
.main-content aside .achievement-history .achievement .reward:hover span {
  color: #fff;
}
/* line 1092, ../sass/main.scss */
.main-content aside .achievement-history .achievement .score-progress-bar {
  background-color: #E6E6E6;
  height: 3px;
  width: 100%;
  margin: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 1101, ../sass/main.scss */
.main-content aside .achievement-history .achievement .score-progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 41%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  background: #662D91;
}
/* line 1120, ../sass/main.scss */
.main-content aside .history {
  position: relative;
  text-align: center;
}
/* line 1122, ../sass/main.scss */
.main-content aside .history .line {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 1px;
  min-height: 500px;
  background: #E6E6E6;
}
/* line 1131, ../sass/main.scss */
.main-content aside .history p {
  font-family: "RobotoMedium", arial, sans-serif;
  font-size: 20px;
}
/* line 1135, ../sass/main.scss */
.main-content aside .history ul {
  padding: 0;
  list-style-type: none;
  margin: 15px 0;
  text-align: left;
}
/* line 1140, ../sass/main.scss */
.main-content aside .history ul li {
  color: #662D91;
  padding: 7px 0;
  border-bottom: 1px dashed #E6E6E6;
  font-size: 14px;
  position: relative;
}
/* line 1146, ../sass/main.scss */
.main-content aside .history ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  left: -20px;
  width: 8px;
  height: 8px;
  background: #662D91;
}
/* line 1156, ../sass/main.scss */
.main-content aside .history ul li a {
  color: #4D4D4D;
  font-size: 14px;
}
/* line 1160, ../sass/main.scss */
.main-content aside .history ul li:last-child {
  border: none;
}
/* line 1165, ../sass/main.scss */
.main-content aside .history .create {
  margin-left: 45px;
}
/* line 1168, ../sass/main.scss */
.main-content aside .history .create ul li {
  color: #FFAB03;
}
/* line 1170, ../sass/main.scss */
.main-content aside .history .create ul li:before {
  background: #FFAB03;
}

/* line 1188, ../sass/main.scss */
.main-content .content-wrap .profile {
  padding: 38px 0 0;
}

/* line 1194, ../sass/main.scss */
.main-content .content-wrap.vote-statistic p.question {
  margin-left: 9px;
  margin-top: 15px;
}
/* line 1198, ../sass/main.scss */
.main-content .content-wrap.vote-statistic .answer {
  padding-left: 5px;
  margin-top: 64px;
}
/* line 1202, ../sass/main.scss */
.main-content .content-wrap.vote-statistic .total-votes {
  margin-left: 64px;
  margin-top: 47px;
}
/* line 1206, ../sass/main.scss */
.main-content .content-wrap.vote-statistic .csgocom {
  margin: 17px 0 18px 65px;
}

/* line 1212, ../sass/main.scss */
.main-content .content-wrap.store {
  padding: 0;
}
/* line 1214, ../sass/main.scss */
.main-content .content-wrap.store h4 {
  text-align: center;
  font-size: 17px;
  font-family: "RobotoMedium", arial, sans-serif;
  margin: 13px 0;
  text-transform: uppercase;
}
/* line 1221, ../sass/main.scss */
.main-content .content-wrap.store .filter-block {
  background: #E6E6E6;
  position: relative;
}
/* line 1224, ../sass/main.scss */
.main-content .content-wrap.store .filter-block span {
  font-size: 13px;
  font-family: "RobotoLight", arial, sans-serif;
  margin-right: 10px;
}
/* line 1229, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart, .main-content .content-wrap.store .filter-block .filter, .main-content .content-wrap.store .filter-block .sort {
  float: right;
  margin: 8px 10px;
  line-height: 34px;
}
/* line 1233, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a, .main-content .content-wrap.store .filter-block .filter a, .main-content .content-wrap.store .filter-block .sort a {
  display: inline-block;
  height: 35px;
  background: #fff;
  margin-right: 5px;
  text-align: center;
  color: #4D4D4D;
  font-family: "RobotoBold", arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
}
/* line 1244, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a:hover, .main-content .content-wrap.store .filter-block .filter a:hover, .main-content .content-wrap.store .filter-block .sort a:hover {
  text-decoration: none;
}
/* line 1247, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a:hover, .main-content .content-wrap.store .filter-block .filter a:hover, .main-content .content-wrap.store .filter-block .sort a:hover {
  background: #ddd;
}
/* line 1250, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a.active, .main-content .content-wrap.store .filter-block .filter a.active, .main-content .content-wrap.store .filter-block .sort a.active {
  background: #FFAB03;
  color: #fff;
}
/* line 1256, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart {
  width: 50px;
  text-align: center;
  -webkit-transition: background ease-in .3s;
  -moz-transition: background ease-in .3s;
  -ms-transition: background ease-in .3s;
  -o-transition: background ease-in .3s;
  transition: background ease-in .3s;
  margin: 8px 10px 0 10px;
  height: 43px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 1268, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a {
  background: transparent;
}
/* line 1270, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart a:hover {
  background: transparent;
}
/* line 1274, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart img {
  margin-top: 5px;
  margin-left: 5px;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}
/* line 1282, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 1290, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open {
  width: 285px;
  z-index: 10;
  position: absolute;
  background: #fff;
  right: -300px;
  top: 51px;
  overflow: hidden;
  -webkit-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
  height: auto;
}
/* line 1305, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
}
/* line 1311, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li a {
  font-family: "KOMIKAX", arial, sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: 14px;
}
/* line 1317, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li input {
  float: left;
  width: 67px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #E6E6E6;
}
/* line 1324, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li button.delete {
  float: right;
  padding: 0;
  height: 17px;
  width: 17px;
  border: none;
  background: none;
  margin-top: -4px;
}
/* line 1332, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li button.delete img {
  margin: 0;
}
/* line 1336, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li button.checkout {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  float: right;
  width: 90px;
  height: 23px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #FFAB03;
  border-bottom: 2px solid #663300;
  position: relative;
  top: 1px;
}
/* line 1351, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li button.checkout:hover {
  top: 0;
  border-bottom: 3px solid #995E00;
}
/* line 1355, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open ul li button.checkout:active {
  top: 2px;
  border-bottom: 1px solid #995E00;
}
/* line 1362, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart .cart-open.open {
  right: 0;
}
/* line 1366, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .cart.open {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
  margin: 8px 10px 0 10px;
  height: 43px;
  width: 50px;
  text-align: center;
}
/* line 1376, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .sort {
  margin: 8px 21px;
}
/* line 1378, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .sort a {
  width: 106px;
}
/* line 1384, ../sass/main.scss */
.main-content .content-wrap.store .filter-block .filter a {
  width: 49px;
  color: #808080;
}
/* line 1390, ../sass/main.scss */
.main-content .content-wrap.store .products-container {
  margin: 30px 75px 8px;
  position: relative;
}
/* line 1393, ../sass/main.scss */
.main-content .content-wrap.store .products-container .padding-store {
  padding: 0 11px;
}
/* line 1396, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product {
  background: url("../img/blue_bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 10px;
  text-align: left;
  position: relative;
  height: 252px;
  margin-bottom: 22px;
}
/* line 1406, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .title h4 {
  font-size: 12px;
  font-family: "KOMIKAX", arial, sans-serif;
  text-align: left;
  margin: 0;
}
/* line 1412, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .title p {
  margin-top: 8px;
  font-family: "HelveticaLight", arial, sans-serif;
  font-size: 13px;
}
/* line 1418, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .product-image {
  text-align: center;
  position: absolute;
  top: 20%;
}
/* line 1422, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .product-image img {
  width: 70%;
}
/* line 1426, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price {
  margin-top: 86px;
}
/* line 1428, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price h5 {
  font-size: 27px;
  line-height: 22px;
  font-family: "RobotoBold", arial, sans-serif;
}
/* line 1432, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price h5 img {
  vertical-align: baseline;
}
/* line 1436, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price .suggested {
  margin-top: 8px;
  font-size: 13px;
  font-family: "RobotoLight", arial, sans-serif;
}
/* line 1441, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price a {
  display: inline-block;
  color: #fff;
  padding: 3px 10px;
  margin-right: 3px;
  font-size: 13px;
  font-family: "RobotoLight", arial, sans-serif;
}
/* line 1448, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price a:hover {
  text-decoration: none;
}
/* line 1452, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price .inspect {
  background: #00A99D;
}
/* line 1455, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price .add-cart {
  background: #FFAB03;
}
/* line 1458, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .price .csgo {
  padding: 0;
  vertical-align: bottom;
}
/* line 1463, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .wear {
  margin-top: 6px;
}
/* line 1466, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .wear-bar {
  position: relative;
  line-height: 4px;
}
/* line 1469, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .wear-bar p {
  font-size: 12px;
}
/* line 1472, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .wear-bar img {
  width: 100%;
}
/* line 1475, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product .wear-bar span {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  top: calc(50% - 3px);
  left: 14%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 1489, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product.gold {
  background: url("../img/gold_bg.jpg") no-repeat center;
}
/* line 1492, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product.pink {
  background: url("../img/pink_bg.jpg") no-repeat center;
}
/* line 1495, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product.purpure {
  background: url("../img/purpure_bg.jpg") no-repeat center;
}
/* line 1498, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product.red {
  background: url("../img/red_bg.jpg") no-repeat center;
}
/* line 1501, ../sass/main.scss */
.main-content .content-wrap.store .products-container .product.blue {
  background: url("../img/blue_bg.jpg") no-repeat center;
}
/* line 1505, ../sass/main.scss */
.main-content .content-wrap.store .products-container .pagination-button {
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* line 1510, ../sass/main.scss */
.main-content .content-wrap.store .products-container .pagination-button button {
  background: none;
  border: none;
  color: #808080;
  font-size: 14px;
}

/* line 1520, ../sass/main.scss */
.faq {
  margin-top: 50px;
  margin-bottom: 60px;
  overflow: hidden;
}
/* line 1524, ../sass/main.scss */
.faq button {
  display: block;
  margin: 0 auto;
  width: 230px;
  height: 42px;
  border: none;
  background: #F7931E;
  border-bottom: 2px solid #995E00;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  position: relative;
  top: 1px;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 1542, ../sass/main.scss */
.faq button .original {
  opacity: 1;
}
/* line 1545, ../sass/main.scss */
.faq button .open {
  display: none;
}
/* line 1548, ../sass/main.scss */
.faq button:hover {
  top: 0;
  border-bottom: 3px solid #995E00;
}
/* line 1552, ../sass/main.scss */
.faq button:active {
  top: 2px;
  border-bottom: 1px solid #995E00;
}
/* line 1556, ../sass/main.scss */
.faq button.active {
  width: 46px;
  height: 46px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  z-index: 5;
}
/* line 1563, ../sass/main.scss */
.faq button.active .original {
  display: none;
  opacity: 0;
}
/* line 1567, ../sass/main.scss */
.faq button.active .open {
  display: block;
  font-size: 32px;
}
/* line 1573, ../sass/main.scss */
.faq .item {
  float: left;
  width: 19.6%;
  height: 0;
  margin-right: 0.5%;
  background: #330066;
  color: #fff;
  font-family: "RobotoLight", arial, sans-serif;
  text-align: center;
  position: relative;
  opacity: 0;
  -webkit-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
  -moz-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
  -ms-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
  -o-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
  transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
}
/* line 1589, ../sass/main.scss */
.faq .item p {
  font-size: 15px;
  margin-top: 120px;
  padding: 0 10px;
}
/* line 1594, ../sass/main.scss */
.faq .item:last-child {
  margin: 0;
}
/* line 1597, ../sass/main.scss */
.faq .item img {
  position: absolute;
  top: 0;
}
/* line 1601, ../sass/main.scss */
.faq .item.open {
  display: block;
  -webkit-transform: translate(0, -23px);
  -moz-transform: translate(0, -23px);
  -ms-transform: translate(0, -23px);
  -o-transform: translate(0, -23px);
  transform: translate(0, -23px);
  height: 250px;
  opacity: 1;
}
/* line 1613, ../sass/main.scss */
.faq .edit {
  -webkit-transform: translate(-280px, 280px);
  -moz-transform: translate(-280px, 280px);
  -ms-transform: translate(-280px, 280px);
  -o-transform: translate(-280px, 280px);
  transform: translate(-280px, 280px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 1624, ../sass/main.scss */
.faq .edit img {
  top: 28px;
  left: calc(50% - 46px);
}
/* line 1630, ../sass/main.scss */
.faq .how-it {
  background: #662D91;
  -webkit-transform: translate(-280px, 280px);
  -moz-transform: translate(-280px, 280px);
  -ms-transform: translate(-280px, 280px);
  -o-transform: translate(-280px, 280px);
  transform: translate(-280px, 280px);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
/* line 1642, ../sass/main.scss */
.faq .how-it img {
  top: 28px;
  left: calc(50% - 68px);
}
/* line 1647, ../sass/main.scss */
.faq .poll-diamond {
  background: #93278F;
  -webkit-transform: translate(0, 280px);
  -moz-transform: translate(0, 280px);
  -ms-transform: translate(0, 280px);
  -o-transform: translate(0, 280px);
  transform: translate(0, 280px);
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -ms-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}
/* line 1659, ../sass/main.scss */
.faq .poll-diamond img {
  top: 36px;
  left: calc(50% - 96px);
}
/* line 1664, ../sass/main.scss */
.faq .market-diamond {
  background: #662D91;
  -webkit-transform: translate(280px, 280px);
  -moz-transform: translate(280px, 280px);
  -ms-transform: translate(280px, 280px);
  -o-transform: translate(280px, 280px);
  transform: translate(280px, 280px);
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
/* line 1676, ../sass/main.scss */
.faq .market-diamond img {
  top: 24px;
  left: calc(50% - 64px);
}
/* line 1681, ../sass/main.scss */
.faq .about {
  -webkit-transform: translate(280px, 280px);
  -moz-transform: translate(280px, 280px);
  -ms-transform: translate(280px, 280px);
  -o-transform: translate(280px, 280px);
  transform: translate(280px, 280px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 1692, ../sass/main.scss */
.faq .about img {
  top: 12px;
  width: 105px;
  left: calc(50% - 55px);
}

/* line 1701, ../sass/main.scss */
footer {
  background: #1A1A1A;
  height: 88px;
  padding-top: 35px;
  font-family: "RobotoLight", arial, sans-serif;
  margin: 0 auto;
}
/* line 1707, ../sass/main.scss */
footer .nav {
  float: left;
}
/* line 1710, ../sass/main.scss */
footer .nav ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 18px;
}
/* line 1714, ../sass/main.scss */
footer .nav ul li a {
  color: #808080;
}
/* line 1720, ../sass/main.scss */
footer .social {
  float: right;
  margin-right: 37px;
}
/* line 1724, ../sass/main.scss */
footer .social ul li {
  display: inline-block;
  padding-left: 30px;
}

/* line 1731, ../sass/main.scss */
.nopadding {
  padding: 0 !important;
}

/* line 1735, ../sass/main.scss */
.error,
.contacts,
.steam,
.about,
.discover {
  -webkit-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
}

/*first*/
/* line 1748, ../sass/main.scss */
.error {
  text-align: center;
  max-width: 482px;
  width: 100%;
  min-height: 222px;
  margin: 10% auto;
  background: #fff;
}
/* line 1758, ../sass/main.scss */
.error .up button {
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 1762, ../sass/main.scss */
.error .quastion-btn {
  float: right;
  background: none;
  border: none;
  font-size: 50px;
  color: #E6E6E6;
  cursor: pointer;
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 1771, ../sass/main.scss */
.error .modal-title {
  padding-top: 60px;
  padding-bottom: 30px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  color: #662D91;
}
/* line 1780, ../sass/main.scss */
.error .btn-first {
  display: inline-block;
  height: 46px;
  width: 37%;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #662D91;
  color: #fff;
}
/* line 1790, ../sass/main.scss */
.error .btn-first:hover {
  background-color: #93278F;
  color: #fff;
}
/* line 1794, ../sass/main.scss */
.error .btn-first-white {
  background-color: #fff;
  color: #666666;
}
/* line 1798, ../sass/main.scss */
.error .btn-first-white:hover {
  background-color: #FFAB03;
  color: #fff;
}
/* line 1802, ../sass/main.scss */
.error .quastion-btn:hover {
  color: #FFAB03;
}

/*second*/
/* line 1810, ../sass/main.scss */
.steam {
  display: flex;
  max-width: 615px;
  width: 100%;
  min-height: 535px;
  position: relative;
  margin: 5% auto;
  background: #fff;
}
/* line 1818, ../sass/main.scss */
.steam .btn-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
}
/* line 1828, ../sass/main.scss */
.steam input {
  box-sizing: border-box;
  height: 25px;
  width: 274px;
  margin-bottom: 10px;
  margin-top: 5px;
}
/* line 1835, ../sass/main.scss */
.steam .btn-first {
  display: inline-block;
  height: 32px;
  width: 140px;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: #662D91;
  color: #fff;
}
/* line 1845, ../sass/main.scss */
.steam .btn-first:hover {
  background-color: #93278F;
  color: #fff;
}
/* line 1849, ../sass/main.scss */
.steam .close-button {
  position: absolute;
  top: -14px;
  left: 50%;
  background-color: transparent;
  border: none;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
}
/* line 1861, ../sass/main.scss */
.steam .line {
  position: absolute;
  left: 50%;
  content: '';
  width: 1px;
  height: 496px;
  background-color: #eee;
  display: inline-block;
  top: 20px;
}
/* line 1871, ../sass/main.scss */
.steam p {
  color: #808080;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 1877, ../sass/main.scss */
.steam label {
  color: #808080;
  font-size: 14px;
}
/* line 1881, ../sass/main.scss */
.steam .account {
  width: 50%;
  position: relative;
}
/* line 1884, ../sass/main.scss */
.steam .account .account-in {
  padding: 15px;
}
/* line 1887, ../sass/main.scss */
.steam .account .center {
  width: 100%;
  text-align: center;
}
/* line 1892, ../sass/main.scss */
.steam .account .form-group0 input {
  width: 48%;
  margin-right: 5px;
  display: inline-block;
}
/* line 1896, ../sass/main.scss */
.steam .account .form-group0 input:last-child {
  margin-right: 0;
}
/* line 1901, ../sass/main.scss */
.steam .account form {
  display: inline-block;
  padding-right: 2px;
}
/* line 1905, ../sass/main.scss */
.steam .account .form-group3 {
  display: inline-block;
  width: 275px;
}
/* line 1907, ../sass/main.scss */
.steam .account .form-group3 form {
  width: 100%;
}
/* line 1910, ../sass/main.scss */
.steam .account .form-group3 input {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
  height: 30px;
}
/* line 1919, ../sass/main.scss */
.steam .premium {
  position: relative;
  width: 50%;
  text-align: center;
}
/* line 1923, ../sass/main.scss */
.steam .premium p {
  color: #808080;
  font-size: 22px;
  margin-top: 43px;
  margin-bottom: 10px;
  font-family: "RobotoMedium", arial, sans-serif;
}
/* line 1930, ../sass/main.scss */
.steam .premium .small {
  font-size: 13px;
  color: #662D91;
  margin-top: 10px;
  font-family: "KOMIKAX", arial, sans-serif;
}
/* line 1936, ../sass/main.scss */
.steam .premium a,
.steam .premium li,
.steam .premium ul {
  line-height: 2.5;
  color: #808080;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
/* line 1945, ../sass/main.scss */
.steam .premium li {
  height: 40px;
  text-align: center;
  border-top: 1px solid #eee;
  width: 100%;
}
/* line 1950, ../sass/main.scss */
.steam .premium li:last-child {
  border-bottom: 1px solid #eee;
}
/* line 1955, ../sass/main.scss */
.steam .unstyled::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

/*third*/
/* line 1964, ../sass/main.scss */
.contacts {
  margin: 10% auto;
  position: relative;
  min-height: 345px;
  max-width: 370px;
  width: 100%;
  text-align: center;
  background: #fff;
}
/* line 1973, ../sass/main.scss */
.contacts .title p {
  padding-top: 55px;
  padding-bottom: 40px;
  font-size: 32px;
  margin: 0;
  color: #4D4D4D;
}
/* line 1981, ../sass/main.scss */
.contacts figure {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 1988, ../sass/main.scss */
.contacts figure img {
  float: left;
}
/* line 1992, ../sass/main.scss */
.contacts figcaption {
  font-size: 15px;
  color: #808080;
}
/* line 1997, ../sass/main.scss */
.contacts .line-caption {
  line-height: 2;
}
/* line 2001, ../sass/main.scss */
.contacts .social {
  margin-top: 20px;
  margin-bottom: 25px;
}
/* line 2004, ../sass/main.scss */
.contacts .social a {
  margin-right: 27px;
}
/* line 2006, ../sass/main.scss */
.contacts .social a:last-child {
  margin-right: 0;
}

/*forth*/
/* line 2018, ../sass/main.scss */
.about .close-button,
.contacts .close-button {
  position: absolute;
  top: -14px;
  right: -17px;
  background-color: transparent;
  border: none;
}

/* line 2027, ../sass/main.scss */
.about {
  position: relative;
  text-align: center;
  max-width: 822px;
  width: 100%;
  height: 322px;
  margin: 10% auto;
  background: #fff;
}
/* line 2035, ../sass/main.scss */
.about .title p {
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 32px;
  color: #4D4D4D;
}
/* line 2041, ../sass/main.scss */
.about .block {
  height: 76%;
  padding: 0 40px 20px 40px;
}
/* line 2044, ../sass/main.scss */
.about .block figcaption {
  font-size: 14px;
  color: #000;
}
/* line 2048, ../sass/main.scss */
.about .block figure img {
  margin-top: -30px;
  float: left;
  width: 150px;
}
/* line 2053, ../sass/main.scss */
.about .block .block1 {
  height: 50%;
}
/* line 2055, ../sass/main.scss */
.about .block .block1 figure {
  margin: 0 0 0 30px;
}
/* line 2058, ../sass/main.scss */
.about .block .block1 figcaption {
  text-align: right;
}
/* line 2062, ../sass/main.scss */
.about .block .block2 {
  height: 50%;
}
/* line 2064, ../sass/main.scss */
.about .block .block2 figure {
  margin: 0 30px 0 0;
}
/* line 2067, ../sass/main.scss */
.about .block .block2 img {
  float: right;
}
/* line 2070, ../sass/main.scss */
.about .block .block2 figcaption {
  text-align: left;
}

/*5*/
/* line 2080, ../sass/main.scss */
.discover {
  background: #fff;
  margin: 5% auto;
  position: relative;
  display: flex;
  height: 550px;
  max-width: 1078px;
  width: 100%;
}
/* line 2088, ../sass/main.scss */
.discover .singup {
  position: relative;
  height: 100%;
  width: 50%;
  text-align: center;
  background-color: #7A26C4;
}
/* line 2094, ../sass/main.scss */
.discover .singup .discover1 {
  position: absolute;
  bottom: -15px;
  left: -97px;
}
/* line 2099, ../sass/main.scss */
.discover .singup .discover2 {
  position: absolute;
  bottom: 53px;
  left: -105px;
}
/* line 2104, ../sass/main.scss */
.discover .singup .discover3 {
  position: absolute;
  top: -72px;
  left: 0;
}
/* line 2109, ../sass/main.scss */
.discover .singup .discover4 {
  position: absolute;
  bottom: 50px;
  left: 123px;
}
/* line 2114, ../sass/main.scss */
.discover .singup .discover5 {
  position: absolute;
  bottom: -26px;
  left: 110px;
}
/* line 2119, ../sass/main.scss */
.discover .singup .pull {
  position: absolute;
  bottom: 55px;
  left: calc(50% - 58px);
  display: block;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  border: 2px solid #fff;
}
/* line 2129, ../sass/main.scss */
.discover .singup .pull p {
  font-size: 40px;
  color: #fff;
  font-family: "KOMIKAX", arial, sans-serif;
  line-height: 98px;
}
/* line 2136, ../sass/main.scss */
.discover .singup .title p {
  font-size: 19px;
  color: #fff;
  padding-bottom: 25px;
  padding-top: 40px;
  font-family: "KOMIKAX", arial, sans-serif;
  line-height: 40px;
}
/* line 2143, ../sass/main.scss */
.discover .singup .title p img {
  margin-bottom: -20px;
  margin-left: 5px;
}
/* line 2148, ../sass/main.scss */
.discover .singup ul {
  padding-left: 35px;
  text-align: left;
  list-style: none;
  margin-right: 35px;
}
/* line 2155, ../sass/main.scss */
.discover .singup li {
  position: relative;
  font-size: 14px;
  color: #fff;
}
/* line 2160, ../sass/main.scss */
.discover .singup li:before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  font-size: 50px;
  background-color: #fff;
  top: 6px;
  left: -15px;
}
/* line 2174, ../sass/main.scss */
.discover .singup-right {
  width: 50%;
  text-align: center;
  position: relative;
}
/* line 2179, ../sass/main.scss */
.discover .singup-right .title p {
  font-size: 19px;
  color: #662D91;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: "KOMIKAX", arial, sans-serif;
  line-height: 40px;
}
/* line 2191, ../sass/main.scss */
.discover ul {
  padding-left: 35px;
  text-align: left;
  list-style: none;
  margin-right: 35px;
}
/* line 2198, ../sass/main.scss */
.discover li {
  position: relative;
  font-size: 14px;
  color: #4D4D4D;
}
/* line 2203, ../sass/main.scss */
.discover li:before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  font-size: 50px;
  background-color: #662D91;
  top: 6px;
  left: -15px;
}
/* line 2217, ../sass/main.scss */
.discover .boys img {
  margin-right: 40px;
  margin-top: 30px;
}
/* line 2220, ../sass/main.scss */
.discover .boys img:last-child {
  margin-right: 0;
}
/* line 2225, ../sass/main.scss */
.discover .btn-orange {
  position: absolute;
  bottom: 20px;
  height: 35px;
  width: 170px;
  left: 50%;
  background: #FFAB03;
  color: #fff;
  border-bottom: 2px solid #995E00;
  -webkit-transform: translateY(0%) translateX(-50%);
  -moz-transform: translateY(0%) translateX(-50%);
  -ms-transform: translateY(0%) translateX(-50%);
  -o-transform: translateY(0%) translateX(-50%);
  transform: translateY(0%) translateX(-50%);
}

/* line 2242, ../sass/main.scss */
.modal-backdrop {
  background: transparent;
}
