@media (max-width: 1400px) {
  /* line 4, ../sass/media.scss */
  .main-content .content-wrap .voter {
    right: -25px;
  }
  /* line 11, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information {
    width: 49%;
  }
  /* line 17, ../sass/media.scss */
  .main-content aside .history .create {
    margin-left: 13px;
  }
  /* line 20, ../sass/media.scss */
  .main-content aside .history .line {
    min-height: 440px;
  }

  /* line 31, ../sass/media.scss */
  .main-content .content-wrap.store .products-container .product .price {
    margin-top: 78px;
  }
  /* line 35, ../sass/media.scss */
  .main-content .content-wrap.store .products-container .product .wear-bar span {
    top: calc(50% - 1px);
  }
  /* line 45, ../sass/media.scss */
  .main-content .content-wrap .profile-block .stats p span {
    width: 130px;
  }
}
@media (max-width: 1199px) {
  /* line 59, ../sass/media.scss */
  header nav ul li {
    margin-right: 20px;
    margin-top: 55px;
  }
  /* line 63, ../sass/media.scss */
  header nav ul li a img {
    top: -40px;
    left: 0;
  }

  /* line 75, ../sass/media.scss */
  .main-content .content-wrap.profile .profile-block {
    margin: 0 auto;
    max-width: 360px;
    margin-bottom: 40px;
  }
  /* line 85, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information {
    width: 56%;
  }
  /* line 91, ../sass/media.scss */
  .main-content aside .history .create {
    margin-left: 25px;
  }

  /* line 99, ../sass/media.scss */
  .faq .item.open {
    height: 220px;
  }
  /* line 102, ../sass/media.scss */
  .faq .item p {
    font-size: 13px;
  }
  /* line 107, ../sass/media.scss */
  .faq .edit img {
    top: 24px;
    left: calc(50% - 38px);
  }
  /* line 113, ../sass/media.scss */
  .faq .how-it img {
    top: 28px;
    left: calc(50% - 55px);
  }
  /* line 119, ../sass/media.scss */
  .faq .poll-diamond img {
    top: 44px;
    left: calc(50% - 80px);
    width: 90%;
  }
}
@media (max-width: 992px) {
  /* line 129, ../sass/media.scss */
  header nav {
    z-index: 5;
    height: auto;
    top: -150px;
  }
  /* line 134, ../sass/media.scss */
  header nav ul li {
    margin: 80px 15px 10px;
  }
  /* line 137, ../sass/media.scss */
  header nav ul li a img {
    display: none;
  }
  /* line 144, ../sass/media.scss */
  header nav .close-menu {
    right: 5px;
  }
  /* line 147, ../sass/media.scss */
  header nav .profile {
    right: 5px;
  }
  /* line 150, ../sass/media.scss */
  header nav .profile a img {
    top: -11px;
    left: -40px;
    width: 36px;
  }
  /* line 159, ../sass/media.scss */
  header .logo a {
    font-size: 24px;
  }
  /* line 161, ../sass/media.scss */
  header .logo a img {
    top: -12px;
    left: 47px;
    width: 44px;
  }
  /* line 166, ../sass/media.scss */
  header .logo a span {
    font-size: 14px;
    bottom: 5px;
    right: -127px;
  }

  /* line 181, ../sass/media.scss */
  .main-content .content-wrap article {
    padding-right: 30px;
  }
  /* line 185, ../sass/media.scss */
  .main-content .content-wrap .answer label {
    height: auto;
  }
  /* line 189, ../sass/media.scss */
  .main-content .content-wrap .voter {
    right: 25px;
  }
  /* line 192, ../sass/media.scss */
  .main-content .content-wrap .result {
    right: 30px;
  }
  /* line 195, ../sass/media.scss */
  .main-content .content-wrap aside {
    padding: 0 30px;
  }
  /* line 197, ../sass/media.scss */
  .main-content .content-wrap aside .tab-content-wrap {
    padding-left: 0;
  }
  /* line 203, ../sass/media.scss */
  .main-content .content-wrap aside .history ul li {
    width: 38%;
    min-width: 210px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 210, ../sass/media.scss */
  .main-content .content-wrap aside .history .create {
    margin-left: 0;
  }
  /* line 213, ../sass/media.scss */
  .main-content .content-wrap aside .history .line {
    display: none;
  }
  /* line 219, ../sass/media.scss */
  .main-content .content-wrap aside .achievement-history .achievement .information {
    width: 65%;
  }
  /* line 226, ../sass/media.scss */
  .main-content .right-list {
    margin-top: 30px;
  }
  /* line 231, ../sass/media.scss */
  .main-content .content-wrap.vote-statistic .csgocom {
    margin: 17px 0 18px 65px;
  }

  /* line 237, ../sass/media.scss */
  .faq .item {
    overflow: hidden;
  }
  /* line 239, ../sass/media.scss */
  .faq .item.open {
    height: 175px;
  }
  /* line 242, ../sass/media.scss */
  .faq .item p {
    font-size: 11px;
    margin-top: 75px;
  }
  /* line 248, ../sass/media.scss */
  .faq .edit img {
    top: 0;
    left: calc(50% - 38px);
  }
  /* line 254, ../sass/media.scss */
  .faq .how-it img {
    top: 6px;
    left: calc(50% - 55px);
  }
  /* line 260, ../sass/media.scss */
  .faq .poll-diamond img {
    top: 28px;
    left: calc(50% - 60px);
  }
  /* line 266, ../sass/media.scss */
  .faq .market-diamond img {
    top: 12px;
    left: calc(50% - 44px);
    width: 65%;
  }
  /* line 273, ../sass/media.scss */
  .faq .about img {
    top: -9px;
    width: 105px;
    left: calc(50% - 55px);
  }

  /* line 285, ../sass/media.scss */
  footer .nav ul li {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  /* line 294, ../sass/media.scss */
  header .logo {
    left: calc(50% - 83px);
  }
  /* line 297, ../sass/media.scss */
  header .title {
    margin-top: 30px;
  }
  /* line 300, ../sass/media.scss */
  header .sing-up {
    display: none;
  }
  /* line 303, ../sass/media.scss */
  header .profile-head {
    display: none;
  }

  /* line 307, ../sass/media.scss */
  .container {
    padding: 0;
  }

  /* line 313, ../sass/media.scss */
  .main-content .content-wrap .question input[type=text] {
    font-size: 14px;
  }
  /* line 318, ../sass/media.scss */
  .main-content .content-wrap .option li {
    margin-bottom: 16px;
    padding-left: 55px;
  }
  /* line 321, ../sass/media.scss */
  .main-content .content-wrap .option li input[type=text] {
    font-size: 14px;
  }
  /* line 325, ../sass/media.scss */
  .main-content .content-wrap .option .ac-custom {
    padding: 0;
  }
  /* line 329, ../sass/media.scss */
  .main-content .content-wrap p.question {
    margin-left: 0;
  }
  /* line 332, ../sass/media.scss */
  .main-content .content-wrap .answer {
    padding-left: 40px;
  }
  /* line 334, ../sass/media.scss */
  .main-content .content-wrap .answer label {
    font-size: 15px;
    line-height: 21px;
  }
  /* line 340, ../sass/media.scss */
  .main-content .content-wrap .captcha img {
    width: 100%;
  }
  /* line 344, ../sass/media.scss */
  .main-content .content-wrap .csgocom {
    font-size: 12px;
  }
  /* line 347, ../sass/media.scss */
  .main-content .content-wrap .result {
    position: relative;
    top: 18px;
    right: 0;
  }
  /* line 352, ../sass/media.scss */
  .main-content .content-wrap .voter {
    position: relative;
    right: 0;
    left: 67px;
    top: 0;
    width: 80%;
  }
  /* line 362, ../sass/media.scss */
  .main-content.store .content-wrap .products-container {
    margin: 20px 0;
  }
  /* line 364, ../sass/media.scss */
  .main-content.store .content-wrap .products-container .product {
    width: 260px;
    margin: 10px auto;
  }
  /* line 373, ../sass/media.scss */
  .main-content .content-wrap.vote-statistic .csgocom {
    word-break: break-all;
    width: 68%;
  }

  /* line 380, ../sass/media.scss */
  .faq .item {
    width: 90%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
  }
  /* line 385, ../sass/media.scss */
  .faq .item p {
    margin-top: 0;
    padding: 25px;
    padding-left: 130px;
    font-size: 14px;
  }
  /* line 391, ../sass/media.scss */
  .faq .item.open {
    height: auto;
  }
  /* line 394, ../sass/media.scss */
  .faq .item:last-child {
    margin: 0 auto;
  }
  /* line 399, ../sass/media.scss */
  .faq .edit img {
    left: 2%;
    top: calc(50% - 36px);
  }
  /* line 405, ../sass/media.scss */
  .faq .how-it img {
    top: calc(50% - 30px);
    left: 2%;
  }
  /* line 411, ../sass/media.scss */
  .faq .poll-diamond img {
    top: calc(50% - 13px);
    left: 2%;
    width: 115px;
  }
  /* line 418, ../sass/media.scss */
  .faq .market-diamond img {
    top: calc(50% - 27px);
    left: 2%;
    width: 90px;
  }
  /* line 425, ../sass/media.scss */
  .faq .about img {
    top: calc(50% - 39px);
    width: auto;
    left: 2%;
  }

  /* line 432, ../sass/media.scss */
  footer {
    height: auto;
  }
  /* line 434, ../sass/media.scss */
  footer .nav {
    float: none;
    text-align: center;
  }
  /* line 438, ../sass/media.scss */
  footer .nav ul li {
    font-size: 14px;
  }
  /* line 443, ../sass/media.scss */
  footer .social {
    width: 200px;
    float: none;
    margin: 30px auto;
  }

  /* line 450, ../sass/media.scss */
  .modal .steam {
    display: block;
  }
  /* line 451, ../sass/media.scss */
  .modal .steam p {
    text-align: center;
  }
  /* line 454, ../sass/media.scss */
  .modal .steam a {
    text-align: center;
    width: 100%;
    display: block;
  }
  /* line 459, ../sass/media.scss */
  .modal .steam .btn-bottom {
    position: relative;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    left: 0;
    bottom: 0;
  }
  /* line 470, ../sass/media.scss */
  .modal .steam .line {
    display: none;
  }
  /* line 473, ../sass/media.scss */
  .modal .steam .account {
    width: 85%;
    margin: 0 auto;
  }
  /* line 476, ../sass/media.scss */
  .modal .steam .account form {
    margin: 0 auto;
    width: 56%;
    display: block;
  }
  /* line 480, ../sass/media.scss */
  .modal .steam .account form .form-group0 {
    width: 274px;
  }
  /* line 484, ../sass/media.scss */
  .modal .steam .account .center {
    margin-top: 10px;
  }
  /* line 488, ../sass/media.scss */
  .modal .steam .premium {
    width: 100%;
  }
  /* line 492, ../sass/media.scss */
  .modal .steam .create button {
    margin: 10px;
  }
  /* line 497, ../sass/media.scss */
  .modal .about {
    min-height: 322px;
    height: auto;
  }
  /* line 500, ../sass/media.scss */
  .modal .about .block {
    height: auto;
  }
  /* line 503, ../sass/media.scss */
  .modal .about .block figure img {
    float: none;
    margin-top: 0;
  }
  /* line 509, ../sass/media.scss */
  .modal .about .block .block1 figure, .modal .about .block .block2 figure {
    margin: 0;
  }
  /* line 512, ../sass/media.scss */
  .modal .about .block .block1 figcaption, .modal .about .block .block2 figcaption {
    text-align: center;
  }
  /* line 519, ../sass/media.scss */
  .modal .discover {
    display: block;
  }
  /* line 521, ../sass/media.scss */
  .modal .discover .singup {
    width: 100%;
  }
  /* line 524, ../sass/media.scss */
  .modal .discover .singup-right {
    width: 100%;
    background: #fff;
  }
}
@media (max-width: 440px) {
  /* line 538, ../sass/media.scss */
  header nav {
    top: -200px;
  }
  /* line 540, ../sass/media.scss */
  header nav ul {
    margin-top: 110px;
  }
  /* line 542, ../sass/media.scss */
  header nav ul li {
    margin: 10px 15px 10px;
  }
  /* line 546, ../sass/media.scss */
  header nav .profile {
    right: calc(50% - 75px);
    top: -70px;
  }

  /* line 555, ../sass/media.scss */
  .main-content .content-wrap article {
    padding: 0;
  }
  /* line 560, ../sass/media.scss */
  .main-content .content-wrap .profile-block .activity .terr {
    width: 40%;
  }
  /* line 563, ../sass/media.scss */
  .main-content .content-wrap .profile-block .activity .ct {
    width: 40%;
  }
  /* line 569, ../sass/media.scss */
  .main-content aside {
    padding: 0 15px;
  }
  /* line 572, ../sass/media.scss */
  .main-content aside .referral-history .referral-information {
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
  }
  /* line 576, ../sass/media.scss */
  .main-content aside .referral-history .referral-information a {
    text-align: center;
  }
  /* line 580, ../sass/media.scss */
  .main-content aside .referral-history .operation {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 583, ../sass/media.scss */
  .main-content aside .referral-history .operation:after {
    display: none;
  }
  /* line 590, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .rating {
    width: 38px;
  }
  /* line 592, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .rating img {
    width: 30px;
  }
  /* line 596, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information {
    margin: 6px 10px 6px 40px;
  }
  /* line 598, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information h4 {
    font-size: 14px;
  }
  /* line 601, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information span {
    font-size: 10px;
  }
  /* line 604, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .information p {
    font-size: 11px;
  }
  /* line 608, ../sass/media.scss */
  .main-content aside .achievement-history .achievement .reward {
    width: 40px;
    font-size: 10px;
  }
  /* line 615, ../sass/media.scss */
  .main-content aside .nav-tabs > li a {
    padding: 5px 9px;
  }
  /* line 623, ../sass/media.scss */
  .main-content.store .content-wrap .filter-block .sort, .main-content.store .content-wrap .filter-block .filter {
    margin: 5px 15px;
  }
  /* line 625, ../sass/media.scss */
  .main-content.store .content-wrap .filter-block .sort a, .main-content.store .content-wrap .filter-block .filter a {
    font-size: 10px;
  }
  /* line 630, ../sass/media.scss */
  .main-content.store .content-wrap .filter-block .sort a {
    width: 68px;
  }

  /* line 640, ../sass/media.scss */
  .modal .steam .account {
    width: 100%;
  }
  /* line 642, ../sass/media.scss */
  .modal .steam .account form {
    width: 100%;
  }
  /* line 647, ../sass/media.scss */
  .modal .discover {
    height: 670px;
  }
}
