@font-face {
  font-family: 'HelveticaLight';
  src: url('../fonts/HelveticaLight/HelveticaLight.eot');
  src: url('../fonts/HelveticaLight/HelveticaLight.eot') format('embedded-opentype'),
  url('../fonts/HelveticaLight/HelveticaLight.woff2') format('woff2'),
  url('../fonts/HelveticaLight/HelveticaLight.woff') format('woff'),
  url('../fonts/HelveticaLight/HelveticaLight.ttf') format('truetype'),
  url('../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight') format('svg');
}
@font-face {
  font-family: 'KOMIKAX';
  src: url('../fonts/KOMIKAX/KOMIKAX.eot');
  src: url('../fonts/KOMIKAX/KOMIKAX.eot') format('embedded-opentype'),
  url('../fonts/KOMIKAX/KOMIKAX.woff2') format('woff2'),
  url('../fonts/KOMIKAX/KOMIKAX.woff') format('woff'),
  url('../fonts/KOMIKAX/KOMIKAX.ttf') format('truetype'),
  url('../fonts/KOMIKAX/KOMIKAX.svg#KOMIKAX') format('svg');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'),
  url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
  url('../fonts/RobotoBold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/HelveticaLight/HelveticaLight.eot');
  src: url('../fonts/HelveticaLight/HelveticaLight.eot') format('embedded-opentype'),
  url('../fonts/HelveticaLight/HelveticaLight.woff2') format('woff2'),
  url('../fonts/HelveticaLight/HelveticaLight.woff') format('woff'),
  url('../fonts/HelveticaLight/HelveticaLight.ttf') format('truetype'),
  url('../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight') format('svg');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.eot') format('embedded-opentype'),
  url('../fonts/RobotoMedium/RobotoMedium.woff2') format('woff2'),
  url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'),
  url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'),
  url('../fonts/RobotoMedium/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
  font-family: 'RobotoThin';
  src: url('../fonts/RobotoThin/RobotoThin.eot');
  src: url('../fonts/RobotoThin/RobotoThin.eot') format('embedded-opentype'),
  url('../fonts/RobotoThin/RobotoThin.woff2') format('woff2'),
  url('../fonts/RobotoThin/RobotoThin.woff') format('woff'),
  url('../fonts/RobotoThin/RobotoThin.ttf') format('truetype'),
  url('../fonts/RobotoThin/RobotoThin.svg#RobotoThin') format('svg');
}