//color variables
$button-color:#F7931E;
$accent-collor:#662D91;
$input-border:#E6E6E6;

//fonts variables
$hel-light: 'HelveticaLight', arial, sans-serif;
$KOMIKAX: 'KOMIKAX', arial, sans-serif;
$Rob-Bold: 'RobotoBold', arial, sans-serif;
$Rob-Light: 'RobotoLight', arial, sans-serif;
$Rob-Medium: 'RobotoMedium', arial, sans-serif;
$Rob-Thin: 'RobotoThin', arial, sans-serif;