@import "reset";
@import "variables";
@import "fonts";
html{
  height: 100%;
}

body{
  font-family: $Rob-Light;
  height: 100%;
  }
body.modal-open{
  .wraper{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  }
}
.container{
  padding: 0 30px;
}
.row{
  margin: 0;
}
.wraper{
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    background: url("../img/bg.jpg") top center;
    background-size:100%;
}
input, button{
  outline: none;
}
.clear-fix{
  clear: both;
}
header{
  height: 78px;
  position: relative;
  padding-top: 40px;
  .header-wrap{
    margin-top:38px;
  }
 .logo{
   position: absolute;
   z-index: 10;
   top: -5px;
   left: 0;
   a{
     font-size: 32px;
     position: relative;
     font-family: $Rob-Bold;
     text-decoration: none;
     color: #fff;
     img{
       position: absolute;
       top: -12px;
       left: 61px;
     }
     span{
       font-family: $Rob-Light;
       font-size: 22px;
       position: absolute;
       bottom: 6px;
       right: -186px;
       text-transform: uppercase;
     }
   }
 }
  .title{
    text-align: center;
    font-family: $KOMIKAX;
    font-size: 18px;
    color: #fff;
  }
  .sing-up{
    float: right;
    margin-right: 27px;
    button{
      background: $button-color;
      border: none;
      width:83px;
      -webkit-border-radius:15px;
      -moz-border-radius:15px;
      border-radius: 15px;
      color: #fff;
      height: 20px;
      font-size: 14px;
      position: relative;
      -webkit-transition: all .1s;
      -moz-transition: all .1s;
      -ms-transition: all .1s;
      -o-transition: all .1s;
      transition: all .1s;
      //&:hover{
      //  -webkit-transform: scale(1.05);
      //  -moz-transform: scale(1.05);
      //  -ms-transform: scale(1.05);
      //  -o-transform: scale(1.05);
      //  transform: scale(1.05);
      //}
      &:active{
        top: 1px;

      }
    }

  }
  .profile-head{
    display: none;
    float: right;
    margin-right: 27px;
    a{
      font-size: 14px;
      color: #fff;
      img{
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
  }
  .menu{
    float: right;
    margin-right: -8px;
    button{
      background: transparent;
      border: none;
    }
  }
  nav{
    background: #330066;
    position: absolute;
    width: 100%;
    top: -80px;
    left:0;
    height:78px;
    -webkit-transition: all ease-in-out .7s ;
    -moz-transition: all ease-in-out .7s;
    -ms-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    transition: all ease-in-out .7s;
    .wrap{
      position: relative;
    }
    ul{
      list-style-type: none;
      text-align: center;
      li{
        display: inline-block;
        position: relative;
        margin-right: 45px;
        margin-top: 49px;
        a{
          color: #fff;
          text-decoration: none;
          font-size:14px;
          font-family: $Rob-Light;
          &:hover{
            color: #fff;
          }
          img{
            position: absolute;
            top: -27px;
            left: -41px;
          }
        }
      }
    }
    .close-menu{
      position: absolute;
      right: 3px;
      top: 0;
      margin-top: 41px;
      button{
        background: none;
        border:none;
        color: $button-color;
        font-size: 42px;
        line-height: 19px;
      }
    }
    .profile{
      margin-top: 49px;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 65px;
      a{
        color: #fff;
        font-size:14px;
        font-family: $Rob-Light;
        img{
          position: absolute;
          top: -27px;
          left: -57px;
        }

      }
    }
  }
  nav.open{
    top: 0;
  }
}
.main-content{
  .content-wrap{
    background: #fff;
    margin-top: 10px;
    padding: 38px 0;
    -webkit-box-shadow: 0 4px 0 0 rgba(179, 179, 179, 1);
    -moz-box-shadow: 0 4px 0 0 rgba(179, 179, 179, 1);
    box-shadow: 0 4px 0 0 rgba(179, 179, 179, 1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    overflow: hidden;
    article{
      padding-left: 30px;
    }
    .question{
      margin-bottom: 28px;
      input[type=text]{
        width:100%;
        height: 47px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        padding-left: 15px;
        font-size: 18px;
        font-family: $Rob-Light;
      }
    }
    p.question{
      color: #333333;
      font-size:22px;
      font-family:$Rob-Medium;
      margin-left: 25px;
      margin-top: 10px;
    }
    .option{
      ul{
        list-style-type: nonec;
      }
      li{
        margin-bottom: 32px;
        padding-left: 70px;
        position: relative;
        input[type=text]{
          height: 38px;
          border: 1px solid #E6E6E6;
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius: 10px;
          width: 100%;
          font-size: 18px;
          font-family: $Rob-Light;
          padding-left:22px;
            &:focus{
              +label {
                border: 1px solid $button-color;
              }
            }
        }
        label{
          display: block;
          position: absolute;
          top: 0;
          left: 6px;
          width: 38px;
          height: 38px;
          border: 1px solid #E6E6E6;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          text-align: center;
          font-family: $Rob-Light;
          color: #333333;
          font-size:16px;
          line-height: 38px;
        }
      }
      .custom-checkbox{
        padding-left:50px;
        .poolchoise{
          svg{
            top: 53%;
          }
        }
        svg{
          width: 20px;
          height: 20px;
          left: 20px;
          top: 47%;
        }
        input{
          width: 20px;
          height: 20px;
          top: 70%;
          left: 25px;
        }
        label{
          margin-bottom: 28px;
          font-family: $Rob-Light;
          font-size: 15px;
          color: #333;
          &:before{
            content: '';
            width: 18px;
            height: 18px;
            border: 1px solid #FFAB03;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            top: 25px;
            left: -30px;
          }
        }
        .poolchoise{
          padding-left: 50px;
          padding-top: 5px;
          position: relative;
          label{
            padding-left: 5px;
          }

        }
        .recaptcha{
          position: relative;
          padding-left: 50px;
          margin-bottom: 2px;
          font-family: $Rob-Light;
          font-size: 15px;
          label{
            padding-left: 5px;
            a{
              color: #FFAB03;
            }
          }
      }

      }
      .button{
        padding-left: 70px;
        margin-bottom: 58px;
        button{
          width:175px;
          border: none;
          background: #FFAB03;
          border-bottom: 2px solid #995E00;
          border-radius: 5px;
          color: #fff;
          height:32px;
          font-size: 15px;
          position: relative;
          top: 1px;
          &:hover{
            top: 0;
            border-bottom: 3px solid #995E00;
          }
          &:active{
            top: 2px;
            border-bottom: 1px solid #995E00;
          }
        }
      }
    }
    .answer{
      padding:0;
      padding-left: 75px;
      margin-top: 42px;
      li{
        margin-bottom:32px;
      }
      label{
        display: block;
        height: 38px;
        border: 1px solid #E6E6E6;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius: 10px;
        width: 100%;
        font-size: 18px;
        font-family: $Rob-Medium;
        padding-left:22px;
        line-height: 35px;
      }
      .button{
        margin-bottom: 20px;
        button{
          width:175px;
          border: none;
          background: #FFAB03;
          border-bottom: 2px solid #995E00;
          border-radius: 5px;
          color: #fff;
          height:32px;
          font-size: 15px;
        }
      }
      .back{
        position: absolute;
        top: -25px;
        left: 10px;
      }
    }
    .check{
      ul{
        li{
          padding-left: 70px;
          position: relative;
          color: #666;
          .number{
            position: absolute;
            top: 0;
            left: 0;
            width: 38px;
            height: 38px;
            border: 1px solid #E6E6E6;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            font-family: $Rob-Medium;
            font-size:16px;
            line-height: 34px;
            color: #fff;
          }
          &:nth-child(5n+1){
            .number{
              background: #662D91;
            }
            .amount-percent{
              background: #662D91;
            }
          }
          &:nth-child(5n+2){
            .number{
              background: #FFAB03;
            }
            .amount-percent{
              background: #FFAB03;
              width: 20%;
            }
          }
          &:nth-child(5n+3){
            .number{
              background: #F15A24;
            }
            .amount-percent{
              background: #F15A24;
              width: 20%;
            }
          }
          &:nth-child(5n+4){
            .number{
              background: #00A99D;
            }
            .amount-percent{
              background: #00A99D;
              width: 20%;
            }
          }
          &:nth-child(5n+5){
            .number{
              background: #8CC63F;
            }
            .amount-percent{
              background: #8CC63F;
              width: 20%;
            }
          }
        }
      }
      .amount-votes{
        margin-top: 10px;
        font-size: 14px;
        font-family: $Rob-Medium;
      }
      .votes-bar {
        background-color: #F2F2F2;
        height: 5px;
        width: 100%;
        margin:5px 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        .amount-percent{
          position: absolute;
          top: 0;
          left:0;
          height: 5px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -webkit-transition: width .4s ease-in-out;
          -moz-transition: width .4s ease-in-out;
          -ms-transition: width .4s ease-in-out;
          -o-transition: width .4s ease-in-out;
          transition: width .4s ease-in-out;
          background: #662D91;
          span{
            position: absolute;
            right: -35px;
            top: -9px;
            min-width: 35px;
            text-align: center;
            -webkit-border-radius:15px;
            -moz-border-radius:15px;
            border-radius:15px;
            -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.55);
            -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.55);
            box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.55);
            padding:0 3px;
            font-family: $Rob-Medium;
            font-size: 14px;
            line-height: 20px;
            background: #fff;
          }
        }
      }
    }
    .captcha{
      margin-bottom:25px;
    }
    .total-votes{
      font-size: 22px;
      font-family:$Rob-Medium;
      margin-left: 70px;
    }
    .csgocom{
      border-bottom: 1px solid #E6E6E6;
      width: 55%;
      max-width: 360px;
      margin-bottom:34px;
      margin-left: 7px;
      position: relative;
      input{
        font-size: 18px;
        font-family:$Rob-Light;
        color: #666;
        border: none;
        width: 100%;
      }
      .copy_tooltip{
        display: none;
        position:absolute;
        right: -22%;
        top: 35px;
        padding:10px;
        font-size: 11px;
        height:30px;
        width:100px;
        background: #fff;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        margin-right:30px;
        text-align:left;
        filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
        -webkit-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
        -moz-filter:drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
        -o-filter:drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
        -ms-filter: drop-shadow(0px -2px 3px rgba(50, 50, 50, 0.55));
        &:before{
          content: '';
          position: absolute;
          top:-4px;
          left:10px;
          width:20px;
          height:10px;
          -webkit-transform:rotate(30deg) skewX(45deg);
          -moz-transform:rotate(30deg) skewX(45deg);
          -ms-transform:rotate(30deg) skewX(45deg);
          -o-transform:rotate(30deg) skewX(45deg);
          background:#fff;
          z-index:1;
        }
      }
    }
    .button.submit{
      margin-bottom: -6px;
      button{
        position: relative;
        top: 1px;
        &:hover{
          top: 0;
          border-bottom: 3px solid #995E00;
        }
        &:active{
          top: 2px;
          border-bottom: 1px solid #995E00;
        }
      }
    }
    .voter{
      width: 30%;
      position: absolute;
      right: -77px;
      bottom: 21px;
      img{
        max-width: 75px;
        float: left;
        margin-right:5px;
      }
      p{
        font-size:13px;
        font-family: $Rob-Medium;
        color: #4D4D4D;
        margin-top: 11px;
      }
      span{
        color: #662D91;
        font-family: $Rob-Medium;
      }
    }
    .result{
      position: absolute;
      bottom: -5px;
      right: 0;
      font-family: $Rob-Medium;
      font-size:15px;
      color: #666666;
    }
    .profile-block{
      background: #662D91;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: relative;
      color: #fff;
      padding: 0 15px;
      font-size:14px;
      font-family: $Rob-Light;
      margin: 0 15px 40px 55px;
      .setting{
        position: absolute;
        top: 6px;
        right: 9px;
      }
      .photo{
        text-align: center;
        padding: 0 30px;
        img{
          margin-top:-12px;
          -webkit-box-shadow: 0px -3px 20px 0px rgba(50, 50, 50, 0.55);
          -moz-box-shadow:    0px -3px 20px 0px rgba(50, 50, 50, 0.55);
          box-shadow:         0px -3px 20px 0px rgba(50, 50, 50, 0.55);
          width: 100%;
        }
      }
      .name{
        font-family: $Rob-Medium;
        padding: 0 28px;
        font-size:20px;
        margin-bottom: 20px;
        margin-top: 8px;
      }
      .profile-info{
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(230, 230, 230, 0.5);
        .lvl{
          img{
            width:25px;
          }
        }
        .premium{
          width: 78px;
          height:20px;
          background: #93278F;
          text-align: center;
          line-height: 18px;
          float: right;
          font-family: $Rob-Medium;
          -webkit-box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.55);
          -moz-box-shadow:    0 1px 10px 0 rgba(50, 50, 50, 0.55);
          box-shadow:         0 1px 10px 0 rgba(50, 50, 50, 0.55);
        }
        .lvl-progress-bar {
          background-color: #1B1464;
          height: 3px;
          width: 100%;
          margin: 5px 0;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          position: relative;
          span{
            position: absolute;
            top: 0;
            left:0;
            height: 3px;
            width: 41%;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: width .4s ease-in-out;
            -moz-transition: width .4s ease-in-out;
            -ms-transition: width .4s ease-in-out;
            -o-transition: width .4s ease-in-out;
            transition: width .4s ease-in-out;
            background: #fff;
          }
        }
        .limit{
          margin-bottom: 6px;
          p{
            line-height:25px;
            span{
              font-family:$Rob-Medium;
              display: inline-block;
              width: 50px;
              text-align: center;
            }
          }
        }
      }
      .stats{
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(230, 230, 230, 0.5);
        padding-bottom: 6px;
        h5{
          opacity: .5;
        }
        p{
          line-height:23px;
          span{
            font-family:$Rob-Medium;
            float: right;
            width: 207px;
            text-align: left;
          }
        }
      }
      .activity{
        .select-bg{
          background: #fff;
          color: #662D91;
          font-family: $Rob-Medium;
          padding: 0 4px;
        }
        .ct, .terr{
          margin: 10px 0;
          line-height: 20px;
          width: 44%;
          max-width: 101px;
          height: 125px;
          float: left;
          background: #fff;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          margin-right:10px;
          color: #662D91;
          text-align: center;
          padding: 0 5px;
          span{
            font-family: $Rob-Bold;
          }
          .redeemable{
            border-top: 1px solid #662D91;
            line-height: 18px;
          }
          img{
            width: 65px;
          }
        }
      }
      button{
        background: transparent;
        border:1px solid $button-color;
        font-family: $KOMIKAX;
        font-size: 17px;
        width: 213px;
        height:42px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        margin-bottom: 35px;
        padding-bottom: 6px;
      }
    }
  }
  .right-list{
    margin-left: 30px;
    padding:0 30px;
    font-family: $Rob-Light;
    margin-top: -15px;
    position: relative;
    &:before{
      content: '';
      display: block;
      height: 625px;
      background: $input-border ;
      width:1px;
      position: absolute;
      left: -10px;
      top: 0;
    }
    p{
      display: block;
      color: #fff;
      background: #4D4D4D;
      border-bottom: 3px solid $accent-collor;
      font-size:21px;
      padding-left: 10px;
      line-height: 34px;
    }
    ul{
      list-style-type: none;
      margin-bottom:10px;
      li{
        padding: 6px 0;
        line-height: 19px;
        position: relative;
        border-bottom: 1px dashed $input-border;
        padding-left: 30px;
        &:before{
          content:'';
          display: block;
          position: absolute;
          top: calc(50% - 3px);
          left: 0;
          width: 8px;
          height: 8px;
          background: $accent-collor;
        }
        a{
          color: #4D4D4D;
          font-size: 14px;
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
  aside{
    .tab-content-wrap{
      padding-left: 37px;
    }
    .nav-tabs{
      border:none;
      text-align: center;
      margin-bottom: 12px;
      >li {
        float: none;
        display: inline-block;
        background: #330066;
        margin-right: -5px;
        font-family: $Rob-Light;
        font-size: 15px;
        a{
          border:none;
          color: #fff;
          padding: 5px 25px;
        }
        &:hover{
          a{
            border: none;
            background: none;
          }
        }
        &:first-child{
          -webkit-border-radius:5px 0 0 5px;
          -moz-border-radius:5px 0 0 5px;
          border-radius:5px 0 0 5px;
        }
        &:last-child{
          -webkit-border-radius:0 5px 5px 0;
          -moz-border-radius:0 5px 5px 0;
          border-radius:0 5px 5px 0;
        }
      }
      li.active{
        background: #93278F;
        a{
          border: none;
          background: none;
          color: #fff;
        }
      }
    }
    .referral_link{
      text-align: center;
      font-size: 14px;
      color: #B3B3B3;
      font-family: $Rob-Medium;
      margin-bottom: 15px;
      p{
        line-height: 30px;
        border-bottom: 1px solid $button-color;
        margin-bottom: 5px;
      }
      span{
        font-size: 12px;
      }
    }
    .referral-history{
      .referral-information{
        width: 100%;
        background: #F2F2F2;
        text-align: center;
        position: relative;
        padding: 15px 0;
        margin-bottom:10px;
        .new-member{
          height:100%;
          width: 45px;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          background: #FFAB03;
          font-family: $Rob-Medium;
          color: #fff;
          text-decoration: none;
          font-size: 10px;
            span{
              font-size: 37px;
              display: block;
              line-height: 42px;
            }
        }
        p{
          span{
            font-family: $Rob-Medium;
          }
          a{
            font-family: $Rob-Medium;
            color: #0071BC;
          }
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          width: 1px;
          height: 1000px;
          background: #F2F2F2;
        }
      }
      .operation-wrap{
        //height: 514px;
        //overflow-y: hidden;
        //margin-bottom: 42px;
      }
      .operation{
        position: relative;
        background: #E6E6E6;
        width: 40%;
        max-width: 215px;
        font-size: 10px;
        margin-left: 5%;
        padding: 20px 0 20px 35px;
        min-height:90px;
        clear: both;
        float: left;
        p{
          span{
            font-family: $Rob-Medium;
          }
          a{
            font-family: $Rob-Medium;
            color: #0071BC;
          }
          img{
            width:12px;
          }
        }
        .img-profile{
          position: absolute;
          left: -31px;
          top: calc(50% - 31px);
          width: 62px;
          height: 62px;
          border-radius: 31px;
          overflow: hidden;
          img{
            width:auto;
            height:100%;
          }
        }
        &:after{
          position: absolute;
          content: '';
          z-index: 0;
          border-style: solid;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
          top: calc(50% - 13px);
          right: -15px;
          border-width: 12px 0 12px 16px;
          border-color: transparent transparent transparent #E6E6E6;
        }
        &:nth-child(2n){
          float: right;
          margin-right: 5%;
          padding: 20px 35px 20px 14px;
          .img-profile{
            right: -31px;
            left: initial;
          }
          &:after{
            left: -15px;
            border-width: 12px 16px 12px 0;
            border-color: transparent #E6E6E6 transparent transparent;
            right: initial;
          }
        }
        .message{
          position: absolute;
          top:5px;
          right:5px;
        }
      }
    }
    .achievement-history{
      font-family: $Rob-Medium;
      height: 514px;
      overflow: hidden;
      margin-bottom: 42px;
      .scroll-item{
        position: absolute;
        bottom: 10px;
        left: calc(50% - 8px);
      }
      .achievement{
        border:1px solid #E6E6E6;
        position: relative;
        margin-bottom: 5px;
        .rating{
          position: absolute;
          top: 5%;
          left: 0;
          height: 90%;
          text-align: center;
          width: 92px;
          border-right: 1px solid #E6E6E6;
          padding: 15px 0;
        }
        .information{
          width: 58%;
          margin: 6px 10px 6px 109px;
          h4{
            color: #808080;
            font-size:22px;
          }
          span{
            color: #B3B3B3;
            font-size: 14px;
          }
          .score{
            margin-top:10px;
            color: #666;
          }
        }
        .reward{
          position: absolute;
          top: 5%;
          right: 0;
          height: 90%;
          text-align: center;
          width: 92px;
          border-left: 1px solid #e6e6e6;
          padding: 22px 0;
          color: #808080;
          font-size: 18px;
          span{
            color: #FFAB03;
          }
          &:hover{
            background: #662D91;
            height: 100%;
            color: #fff;
            top:0;
            padding: 25px 0;
            span{
              color: #fff;
            }
          }
        }
        .score-progress-bar {
          background-color: #E6E6E6;
          height: 3px;
          width: 100%;
          margin: 5px 0;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          position: relative;
          span{
            position: absolute;
            top: 0;
            left:0;
            height: 3px;
            width: 41%;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: width .4s ease-in-out;
            -moz-transition: width .4s ease-in-out;
            -ms-transition: width .4s ease-in-out;
            -o-transition: width .4s ease-in-out;
            transition: width .4s ease-in-out;
            background: #662D91;
          }
        }
      }
    }
    .history{
      position: relative;
      .line{
        position: absolute;
        top:10px;
        left: 50%;
        width:1px;
        min-height: 500px;
        background: #E6E6E6;
      }
      text-align: center;
      p{
        font-family: $Rob-Medium;
        font-size: 20px;
      }
      ul{
        padding:0;
        list-style-type: none;
        margin: 15px 0;
        text-align: left;
        li{
          color: $accent-collor;
          padding: 7px 0;
          border-bottom: 1px dashed $input-border;
          font-size: 14px;
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 3px);
            left: -20px;
            width: 8px;
            height: 8px;
            background: #662D91;
          }
          a{
            color: #4D4D4D;
            font-size: 14px;
          }
          &:last-child{
            border: none;
          }
        }
      }
      .create{
        margin-left: 45px;
        ul{
          li{
            color:#FFAB03;
            &:before{
              background: #FFAB03;
            }
          }
        }
      }
      .voted{
        ul{
          li{


          }
        }
      }
    }
  }
}
.main-content{
  .content-wrap .profile{
    padding: 38px 0 0;
  }
}
.main-content{
  .content-wrap.vote-statistic{
    p.question{
      margin-left: 9px;
      margin-top: 15px;
    }
    .answer{
      padding-left:5px;
      margin-top: 64px;
    }
    .total-votes{
      margin-left: 64px;
      margin-top: 47px;
    }
    .csgocom{
      margin: 17px 0 18px 65px;
    }
  }
}
.main-content{
  .content-wrap.store{
    padding:0;
    h4{
      text-align: center;
      font-size: 17px;
      font-family:$Rob-Medium;
      margin: 13px 0;
      text-transform: uppercase;
    }
    .filter-block{
      background: #E6E6E6;
      position: relative;
      span{
        font-size: 13px;
        font-family: $Rob-Light;
        margin-right: 10px;
      }
      .cart, .filter, .sort{
        float: right;
        margin: 8px 10px;
        line-height: 34px;
        a{
          display:inline-block;
          height: 35px;
          background: #fff;
          margin-right:5px;
          text-align: center;
          color: #4D4D4D;
          font-family:$Rob-Bold;
          font-size:12px;
          text-transform: uppercase;
          border-radius: 5px;
          &:hover{
            text-decoration: none;
          }
          &:hover{
            background: #ddd;
          }
          &.active{
            background: #FFAB03;
            color: #fff;
          }
        }
      }
      .cart{
        width: 50px;
        text-align: center;
        -webkit-transition: background ease-in .3s;
        -moz-transition: background ease-in .3s;
        -ms-transition: background ease-in .3s;
        -o-transition: background ease-in .3s;
        transition: background ease-in .3s;
        margin: 8px 10px 0 10px;
        height: 43px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        a{
          background: transparent;
          &:hover{
            background: transparent;
          }
        }
        img{
          margin-top: 5px;
          margin-left:5px;
          -webkit-transition: all ease-in .3s;
          -moz-transition: all ease-in .3s;
          -ms-transition: all ease-in .3s;
          -o-transition: all ease-in .3s;
          transition: all ease-in .3s;
          &:hover{
              -webkit-transform: rotate(360deg);
              -moz-transform: rotate(360deg);
              -ms-transform: rotate(360deg);
              -o-transform: rotate(360deg);
              transform: rotate(360deg);
          }
        }
        .cart-open{
          width: 285px;
          z-index: 10;
          position: absolute;
          background: #fff;
          right: -300px;
          top: 51px;
          overflow: hidden;
          -webkit-transition: all ease-in .3s;
          -moz-transition: all ease-in .3s;
          -ms-transition: all ease-in .3s;
          -o-transition: all ease-in .3s;
          transition: all ease-in .3s;
          height: auto;
          ul{
            li{
              width: 90%;
              margin:0 auto;
              text-align: left;
              padding: 10px 0;
              border-bottom: 1px solid #E6E6E6;
              a{
                font-family: $KOMIKAX;
                font-size: 12px;
                text-align: left;
                line-height: 14px;
              }
              input{
                float: left;
                width: 67px;
                height: 18px;
                border-radius: 5px;
                border: 1px solid #E6E6E6;
              }
              button.delete{
                float: right;
                padding: 0;
                height: 17px;
                width: 17px;
                border: none;
                background: none;
                margin-top: -4px;
                img{
                  margin: 0;
                }
              }
              button.checkout{
                color: #fff;
                font-size: 14px;
                line-height: 14px;
                float: right;
                width: 90px;
                height: 23px;
                border: none;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                border-radius:5px;
                background: #FFAB03;
                border-bottom: 2px solid #663300;
                position: relative;
                top: 1px;
                &:hover{
                  top: 0;
                  border-bottom: 3px solid #995E00;
                }
                &:active{
                  top: 2px;
                  border-bottom: 1px solid #995E00;
                }
              }
            }
          }
          &.open{
            right:0;
          }
        }
        &.open{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background: #fff;
          margin: 8px 10px 0 10px;
          height: 43px;
          width: 50px;
          text-align: center;
        }
      }
      .sort{
        margin: 8px 21px;
        a{
          width: 106px;
        }

      }
      .filter{
        a{
          width:49px;
          color: #808080;
        }
      }
    }
    .products-container{
      margin: 30px 75px 8px;
      position: relative;
      .padding-store{
        padding: 0 11px;
      }
      .product{
        background: url('../img/blue_bg.jpg') no-repeat center;
        background-size: cover;
        color: #fff;
        padding: 10px;
        text-align: left;
        position: relative;
        height: 252px;
        margin-bottom: 22px;
        .title{
          h4{
            font-size: 12px;
            font-family: $KOMIKAX;
            text-align: left;
            margin: 0;
          }
          p{
            margin-top: 8px;
            font-family: $hel-light;
            font-size: 13px;
          }
        }
        .product-image{
          text-align: center;
          position: absolute;
          top:20%;
          img{
            width: 70%;
          }
        }
        .price{
          margin-top:86px;
          h5{
            font-size:27px;
            line-height: 22px;
            font-family: $Rob-Bold;
            img{
              vertical-align: baseline;
            }
          }
          .suggested{
            margin-top: 8px;
            font-size:13px;
            font-family: $Rob-Light;
          }
          a{
            display: inline-block;
            color: #fff;
            padding: 3px 10px;
            margin-right: 3px;
            font-size:13px;
            font-family: $Rob-Light;
            &:hover{
              text-decoration: none;
            }
          }
          .inspect{
            background: #00A99D;
          }
          .add-cart{
            background: #FFAB03;
          }
          .csgo{
            padding: 0;
            vertical-align: bottom;
          }
        }
        .wear{
          margin-top: 6px;
        }
        .wear-bar{
          position: relative;
          line-height: 4px;
          p{
            font-size:12px;
          }
            img{
              width: 100%;
            }
            span{
              position: absolute;
              width: 7px;
              height:7px;
              background: #fff;
              top: calc(50% - 3px);
              left: 14%;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
        }
        &.gold{
          background: url('../img/gold_bg.jpg') no-repeat center;
        }
        &.pink{
          background: url('../img/pink_bg.jpg') no-repeat center;
        }
        &.purpure{
          background: url('../img/purpure_bg.jpg') no-repeat center;
        }
        &.red{
          background: url('../img/red_bg.jpg') no-repeat center;
        }
        &.blue{
          background: url('../img/blue_bg.jpg') no-repeat center;
        }
      }
      .pagination-button{
        width: 100%;
        bottom:0;
        left:0;
        text-align: center;
        button{
          background:none;
          border: none;
          color: #808080;
          font-size:14px;
        }
      }
    }
  }
}
.faq{
  margin-top: 50px;
  margin-bottom:60px;
  overflow: hidden;
  button{
    display: block;
    margin: 0 auto;
    width: 230px;
    height: 42px;
    border: none;
    background: $button-color;
    border-bottom: 2px solid #995E00;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 1px;
    -webkit-transition:  all ease-in-out 0.3s;
    -moz-transition:  all ease-in-out 0.3s;
    -ms-transition:  all ease-in-out 0.3s;
    -o-transition:  all ease-in-out 0.3s;
    transition:  all ease-in-out 0.3s;
    .original{
      opacity: 1;
    }
    .open{
      display: none;
    }
    &:hover{
      top: 0;
      border-bottom: 3px solid #995E00;
    }
    &:active{
      top: 2px;
      border-bottom: 1px solid #995E00;
    }
    &.active{
      width: 46px;
      height: 46px;
      -webkit-border-radius: 23px;
      -moz-border-radius: 23px;
      border-radius: 23px;
      z-index: 5;
      .original{
        display: none;
        opacity: 0;
      }
      .open{
        display: block;
        font-size: 32px;
      }
    }
  }
  .item{
    float: left;
    width: 19.6%;
    height: 0;
    margin-right:0.5%;
    background: #330066;
    color: #fff;
    font-family: $Rob-Light;
    text-align: center;
    position: relative;
    opacity: 0;
    -webkit-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
    -moz-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
    -ms-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
    -o-transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
    transition: transform ease-in-out 0.3s, opacity ease-in 0.4s;
    p{
      font-size: 15px;
      margin-top: 120px;
      padding: 0 10px;
    }
    &:last-child{
      margin: 0;
    }
    img{
      position: absolute;
      top: 0;
    }
    &.open{
      display: block;
      -webkit-transform:translate(0,-23px);
      -moz-transform:translate(0,-23px);
      -ms-transform:translate(0,-23px);
      -o-transform:translate(0,-23px);
      transform:translate(0,-23px) ;
      height: 250px;
      opacity: 1;

    }
  }
  .edit{
    -webkit-transform:translate(-280px, 280px);
    -moz-transform:translate(-280px, 280px);
    -ms-transform:translate(-280px, 280px);
    -o-transform:translate(-280px, 280px);
    transform:translate(-280px, 280px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    img{
      top: 28px;
      left: calc(50% - 46px);
    }

  }
  .how-it{
    background: #662D91;
    -webkit-transform:translate(-280px, 280px);
    -moz-transform:translate(-280px, 280px);
    -ms-transform:translate(-280px, 280px);
    -o-transform:translate(-280px, 280px);
    transform:translate(-280px, 280px);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    img{
      top: 28px;
      left: calc(50% - 68px);
    }
  }
  .poll-diamond{
    background: #93278F;
    -webkit-transform:translate(0, 280px);
    -moz-transform:translate(0, 280px);
    -ms-transform:translate(0, 280px);
    -o-transform:translate(0, 280px);
    transform:translate(0, 280px);
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    img {
      top: 36px;
      left: calc(50% - 96px);
    }
  }
  .market-diamond{
    background: #662D91;
    -webkit-transform:translate(280px, 280px);
    -moz-transform:translate(280px, 280px);
    -ms-transform:translate(280px, 280px);
    -o-transform:translate(280px, 280px);
    transform:translate(280px, 280px);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    img{
      top: 24px;
      left: calc(50% - 64px);
    }
  }
  .about{
    -webkit-transform:translate(280px, 280px);
    -moz-transform:translate(280px, 280px);
    -ms-transform:translate(280px, 280px);
    -o-transform:translate(280px, 280px);
    transform:translate(280px, 280px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    img{
      top: 12px;
      width: 105px;
      left: calc(50% - 55px);
    }
  }
}


footer{
  background: #1A1A1A;
  height: 88px;
  padding-top: 35px;
  font-family: $Rob-Light;
  margin: 0 auto;
  .nav{
    float: left;
    ul{
      li{
        display: inline-block;
        margin-right: 25px;
        font-size: 18px;
        a{
          color: #808080;
        }
      }
    }
  }
  .social{
    float: right;
    margin-right: 37px;
    ul{
      li{
        display: inline-block;
        padding-left: 30px;
      }
    }
  }
}
.nopadding{
  padding: 0 !important;
}
//MODAL STYLE
.error,
.contacts,
.steam,
.about,
.discover {
  -webkit-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 9px 21px 0 rgba(0, 0, 0, 0.23);
}


/*first*/

.error {
  text-align: center;
  max-width: 482px;
  width: 100%;
  min-height: 222px;
  margin: 10% auto;
  background: #fff;


  .up{
    button{
      font-family: $Rob-Medium;
    }
  }
  .quastion-btn {
    float: right;
    background: none;
    border: none;
    font-size: 50px;
    color: #E6E6E6;
    cursor: pointer;
    font-family: $Rob-Medium;
  }
  .modal-title {
    padding-top: 60px;
    padding-bottom: 30px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: #662D91;
  }
  .btn-first {
    display: inline-block;
    height: 46px;
    width: 37%;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #662D91;
    color: #fff;
  }
  .btn-first:hover {
    background-color: #93278F;
    color: #fff;
  }
  .btn-first-white {
    background-color: #fff;
    color: #666666;
  }
  .btn-first-white:hover {
    background-color: #FFAB03;
    color: #fff;
  }
  .quastion-btn:hover {
    color: #FFAB03;
  }
}


/*second*/

.steam {
  display: flex;
  max-width: 615px;
  width: 100%;
  min-height: 535px;
  position: relative;
  margin: 5% auto;
  background: #fff;
  .btn-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }
  input {
    box-sizing: border-box;
    height: 25px;
    width: 274px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .btn-first {
    display: inline-block;
    height: 32px;
    width: 140px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #662D91;
    color: #fff;
  }
  .btn-first:hover {
    background-color: #93278F;
    color: #fff;
  }
  .close-button {
    position: absolute;
    top: -14px;
    left: 50%;
    background-color: transparent;
    border: none;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }
  .line {
    position: absolute;
    left: 50%;
    content: '';
    width: 1px;
    height: 496px;
    background-color: #eee;
    display: inline-block;
    top: 20px;
  }
  p {
    color: #808080;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label {
    color: #808080;
    font-size: 14px;
  }
  .account {
    width: 50%;
    position: relative;
    .account-in {
      padding: 15px;
    }
    .center {
      width: 100%;
      text-align: center;
    }
    .form-group0 {
      input {
        width: 48%;
        margin-right: 5px;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    form {
      display: inline-block;
      padding-right: 2px;
    }
    .form-group3 {
      display: inline-block;width: 275px;
      form{
        width: 100%;
      }
      input {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 20px;
        height:30px;

      }
    }
  }
  .premium {
    position: relative;
    width: 50%;
    text-align: center;
    p {
      color: #808080;
      font-size: 22px;
      margin-top: 43px;
      margin-bottom: 10px;
      font-family: $Rob-Medium;
    }
    .small {
      font-size: 13px;
      color: #662D91;
      margin-top: 10px;
      font-family:$KOMIKAX;
    }
    a,
    li,
    ul {
      line-height: 2.5;
      color: #808080;
      text-decoration: none;
      list-style-type: none;
      padding: 0;
    }
    li {
      height: 40px;
      text-align: center;
      border-top: 1px solid #eee;
      width: 100%;
      &:last-child {
        border-bottom: 1px solid #eee;
      }
    }
  }
  .unstyled::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
  }
}


/*third*/

.contacts {
  margin: 10% auto;
  position: relative;
  min-height: 345px;
  max-width: 370px;
  width: 100%;
  text-align: center;
  background: #fff;

  .title p {
    padding-top: 55px;
    padding-bottom: 40px;
    font-size: 32px;
    margin: 0;
    color: #4D4D4D;
  }

  figure {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  figure img {
    float: left;
  }

  figcaption {
    font-size: 15px;
    color: #808080;
  }

  .line-caption {
    line-height: 2;
  }

  .social {
    margin-top: 20px;
    margin-bottom: 25px;
    a {
      margin-right: 27px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/*forth*/

.about,
.contacts {
  .close-button {
    position: absolute;
    top: -14px;
    right: -17px;
    background-color: transparent;
    border: none;
  }
}

.about {
  position: relative;
  text-align: center;
  max-width: 822px;
  width:100%;
  height: 322px;
  margin: 10% auto;
  background: #fff;
  .title p {
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 32px;
    color: #4D4D4D;
  }
  .block {
    height: 76%;
    padding: 0 40px 20px 40px;
    figcaption {
      font-size: 14px;
      color: #000;
    }
    figure img {
      margin-top: -30px;
      float: left;
      width: 150px;
    }
    .block1 {
      height: 50%;
      figure {
        margin: 0 0 0 30px;
      }
      figcaption {
        text-align: right;
      }
    }
    .block2 {
      height: 50%;
      figure {
        margin: 0 30px 0 0;
      }
      img {
        float: right;
      }
      figcaption {
        text-align: left;
      }
    }
  }
}


/*5*/

.discover {
  background: #fff;
  margin: 5% auto;
  position: relative;
  display: flex;
  height: 550px;
  max-width: 1078px;
  width:100%;
  .singup {
    position: relative;
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: #7A26C4;
    .discover1{
      position: absolute;
      bottom: -15px;
      left: -97px;
    }
    .discover2{
      position: absolute;
      bottom: 53px;
      left: -105px;
    }
    .discover3{
      position: absolute;
      top: -72px;
      left: 0;
    }
    .discover4{
      position: absolute;
      bottom: 50px;
      left: 123px;
    }
    .discover5{
      position: absolute;
      bottom: -26px;
      left: 110px;
    }
    .pull{
      position: absolute;
      bottom: 55px;
      left: calc(50% - 58px);
      display: block;
      height: 115px;
      width: 115px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
    .pull p{
      font-size: 40px;
      color: #fff;
      font-family: $KOMIKAX;
      line-height: 98px;
    }

    .title p {
      font-size: 19px;
      color: #fff;
      padding-bottom: 25px;
      padding-top: 40px;
      font-family: "KOMIKAX", arial, sans-serif;
      line-height: 40px;
      img
      {    margin-bottom: -20px;
        margin-left: 5px;}
    }

    ul {
      padding-left: 35px;
      text-align: left;
      list-style: none;
      margin-right: 35px

    }
    li {
      position: relative;
      font-size: 14px;
      color: #fff;
    }
    li:before {
      position: absolute;
      content: "";
      display: block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      font-size: 50px;
      background-color: #fff;
      top: 6px;
      left: -15px;

    }
  }
  .singup-right{
    width: 50%;
    text-align: center;
    position: relative;

    .title p {
      font-size: 19px;
      color: #662D91;
      padding-bottom: 40px;
      padding-top: 40px;
      font-family: "KOMIKAX", arial, sans-serif;
      line-height: 40px;

    }

  }

  ul {
    padding-left: 35px;
    text-align: left;
    list-style: none;
    margin-right: 35px

  }
  li {
    position: relative;
    font-size: 14px;
    color: #4D4D4D;
  }
  li:before {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    font-size: 50px;
    background-color: #662D91;
    top: 6px;
    left: -15px;

  }

  .boys  img{
    margin-right: 40px;
    margin-top: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  .btn-orange{
    position: absolute;
    bottom: 20px;
    height: 35px;
    width: 170px;
    left: 50%;
    background: #FFAB03;
    color: #fff;
    border-bottom: 2px solid #995E00;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);
  }

}
.modal-backdrop{
  background: transparent;
}