@media (max-width: 1400px) {
  .main-content {
    .content-wrap {
      .voter {
        right: -25px;
      }
    }
    aside{
      .achievement-history{
        .achievement{
          .information{
            width: 49%;
          }
        }
      }
      .history{
        .create{
          margin-left: 13px;
        }
        .line{
          min-height: 440px;
        }
      }
    }
  }
    .main-content {
      .content-wrap {
        &.store {
          .products-container {
            .product {
              .price {
                margin-top: 78px;
              }
              .wear-bar {
                span {
                  top: calc(50% - 1px);
                }
              }
            }
          }
        }
        .profile-block{
          .stats{
            p{
              span{
                width: 130px;
              }
            }
          }
        }
      }
    }

}
@media (max-width: 1199px) {
  header{
    nav{
      ul{
        li{
          margin-right: 20px;
          margin-top: 55px;
          a{
            img{
              top: -40px;
              left: 0;
            }
          }
        }
      }
    }
  }
  .main-content{
      .content-wrap{
        &.profile{
        .profile-block{
          margin: 0 auto;
          max-width: 360px;
          margin-bottom: 40px;
        }
      }
    }
    aside{
      .achievement-history{
        .achievement{
          .information{
            width: 56%;
          }
        }
      }
      .history{
        .create{
          margin-left: 25px;
        }
      }
    }
  }
  .faq{
    .item{
      &.open{
        height: 220px;
      }
      p{
        font-size: 13px;
      }
    }
    .edit{
      img{
        top: 24px;
        left: calc(50% - 38px);
      }
    }
    .how-it{
      img{
        top: 28px;
        left: calc(50% - 55px);
      }
    }
    .poll-diamond{
      img{
        top: 44px;
        left: calc(50% - 80px);
        width: 90%;
      }
    }
  }
}
@media (max-width: 992px){
  header{
    nav{
      z-index: 5;
      height: auto;
      top: -150px;
      ul{
        li{
          margin: 80px 15px 10px;
          a{
            img{
              display: none;
            }
          }
        }
      }

      .close-menu{
        right: 5px;
      }
      .profile{
        right: 5px;
        a{
          img{
            top: -11px;
            left: -40px;
            width: 36px;
          }
        }
      }
    }
    .logo{
      a{
        font-size: 24px;
        img{
          top: -12px;
          left: 47px;
          width: 44px;
        }
        span{
          font-size: 14px;
          bottom: 5px;
          right: -127px;
        }
      }
    }
    //.sing-up{
    //  float: none;
    //  margin:15px auto;
    //  width:80px;
    //}
  }
  .main-content {
    .content-wrap {
      article{
        padding-right: 30px;
      }
      .answer{
        label{
          height: auto;
        }
      }
      .voter{
        right: 25px;
      }
      .result{
        right: 30px;
      }
      aside{
        padding: 0 30px;
        .tab-content-wrap{
          padding-left:0;
        }
        .history{
          ul{

            li{
              width: 38%;
              min-width: 210px;
              margin: 0 auto;
              text-align: center;
            }
          }
          .create{
            margin-left: 0;
          }
          .line{
            display: none;
          }
        }
        .achievement-history{
          .achievement{
            .information{
              width: 65%;
            }
          }
        }
      }
    }
    .right-list{
      margin-top: 30px;
    }

      .content-wrap.vote-statistic{
        .csgocom{
          margin: 17px 0 18px 65px;
        }
      }
    }
  .faq{
    .item{
      overflow: hidden;
      &.open{
        height: 175px;
      }
      p{
        font-size: 11px;
        margin-top: 75px;
      }
    }
    .edit{
      img{
        top: 0;
        left: calc(50% - 38px);
      }
    }
    .how-it{
      img{
        top: 6px;
        left: calc(50% - 55px);
      }
    }
    .poll-diamond{
      img{
        top: 28px;
        left: calc(50% - 60px);
      }
    }
    .market-diamond{
      img{
        top: 12px;
        left: calc(50% - 44px);
        width: 65%;
      }
    }
    .about{
      img{
        top: -9px;
        width: 105px;
        left: calc(50% - 55px);
      }

    }
  }

  footer{
    .nav{
      ul{
        li{
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 767px){
  header{
    .logo{
      left: calc(50% - 83px);
    }
    .title{
      margin-top: 30px;
    }
    .sing-up{
      display: none;
    }
    .profile-head{
      display: none;
    }
  }
  .container{
    padding: 0;
  }
  .main-content{
    .content-wrap{
      .question{
        input[type=text]{
          font-size: 14px;
        }
      }
      .option{
        li{
          margin-bottom: 16px;
          padding-left: 55px;
          input[type=text]{
            font-size: 14px;
          }
        }
        .ac-custom{
          padding: 0;
        }
      }
      p.question{
        margin-left: 0;
      }
      .answer{
        padding-left: 40px;
        label{
          font-size: 15px;
          line-height: 21px;
        }
      }
      .captcha{
        img{
          width:100%;
        }
      }
      .csgocom{
        font-size: 12px;
      }
      .result{
        position: relative;
        top: 18px;
        right: 0;
      }
      .voter{
        position: relative;
        right:0;
        left: 67px;
        top: 0;
        width: 80%;
      }
    }
    &.store{
      .content-wrap{
        .products-container{
          margin: 20px 0;
          .product{
            width: 260px;
            margin:10px auto;
          }
        }
      }
    }

      .content-wrap.vote-statistic{
        .csgocom{
          word-break: break-all;
          width: 68%;
        }
      }
    }
  .faq {
    .item {
      width: 90%;
      margin: 0 auto;
      float:none;
      margin-bottom: 10px;
      p{
        margin-top:0;
        padding: 25px;
        padding-left: 130px;
        font-size: 14px;
      }
      &.open{
        height:auto;
      }
      &:last-child{
        margin: 0 auto;
      }
    }
    .edit{
      img{
        left: 2%;
        top: calc(50% - 36px);
      }
    }
    .how-it{
      img{
        top: calc(50% - 30px);
        left: 2%;
      }
    }
    .poll-diamond{
      img{
        top: calc(50% - 13px);
        left: 2%;
        width: 115px;
      }
    }
    .market-diamond{
      img{
        top: calc(50% - 27px);
        left: 2%;
        width: 90px;
      }
    }
    .about{
      img{
        top: calc(50% - 39px);
        width: auto;
        left: 2%;
      }
    }
  }
  footer{
    height: auto;
    .nav{
      float: none;
      text-align: center;
      ul{
        li{
          font-size: 14px;
        }
      }
    }
    .social{
      width: 200px;
      float: none;
      margin:30px auto;
    }
  }
  .modal{
    .steam{
      p{
        text-align: center;
      }
      a{
        text-align: center;
        width: 100%;
        display: block;
      }
      .btn-bottom{
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        left: 0;
        bottom: 0;
      }
      display: block;
      .line{
        display: none;
      }
      .account{
        width: 85%;
        margin: 0 auto;
        form{
          margin: 0 auto;
          width: 56%;
          display: block;
          .form-group0{
            width:274px;
          }
        }
        .center{
          margin-top:10px;
        }
      }
      .premium{
        width:100%;
      }
      .create{
        button{
          margin: 10px;
        }
      }
    }
    .about{
      min-height: 322px;
      height: auto;
      .block{
        height:auto;
        figure{
          img{
            float: none;
            margin-top:0;
          }
        }
        .block1, .block2{
          figure{
            margin: 0;
          }
          figcaption{
            text-align: center;
          }

        }
      }
    }
    .discover{
      display: block;
      .singup{
        width: 100%;
      }
      .singup-right{
        width: 100%;
        background: #fff;
      }
    }
  }





}
@media (max-width: 440px){
  header{
    nav{
      top: -200px;
      ul{
          margin-top:110px;
        li{
          margin: 10px 15px 10px;
        }
      }
      .profile{
        right: calc(50% - 75px);
        top: -70px;
      }

    }
  }
  .main-content{
    .content-wrap{
      article{
        padding: 0;
      }
      .profile-block{
        .activity{
          .terr{
            width: 40%;
          }
          .ct{
            width: 40%;
          }
        }
      }
    }
    aside{
      padding: 0 15px;
      .referral-history{
        .referral-information{
          font-size: 12px;
          text-align: left;
          padding-left: 5px;
          a{
            text-align: center;
          }
        }
        .operation{
          width: 100%;
          margin-bottom: 10px;
          &:after{
            display: none;
          }
        }
      }
      .achievement-history{
        .achievement{
          .rating{
            width: 38px;
            img{
              width:30px;
            }
          }
          .information{
            margin: 6px 10px 6px 40px;
            h4{
              font-size: 14px;
            }
            span{
              font-size: 10px;
            }
            p{
              font-size:11px;
            }
          }
          .reward{
            width: 40px;
            font-size: 10px;
          }
        }
      }
      .nav-tabs{
        >li a{
          padding: 5px 9px;
        }
      }
    }
  &.store{
    .content-wrap{
      .filter-block{
        .sort, .filter{
          margin: 5px 15px;
          a{
            font-size: 10px;
          }
        }
        .sort{
          a{
            width: 68px;
          }
        }
      }
    }
  }
  }
  .modal{
    .steam{
      .account{
        width: 100%;
        form{
          width: 100%;
        }
      }
    }
    .discover{
      height: 670px;
    }
  }
}